.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  cursor: pointer;
  border-radius: 0px;
  padding: 4px 12px;
  border: 1px solid #efefef;
}
.rootactive {
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-s_XuzePAGmOh);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 0px;
  display: inline-flex;
  border-radius: 0px;
  padding: 4px 12px;
  border: 1px solid var(--token-s_XuzePAGmOh);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.textactive {
  color: #ffffff;
}
