.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__pLoc7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__as44O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: #dfdfdf0d;
  row-gap: 14px;
  flex-shrink: 0;
  padding: 25px 1rem 8px;
  border-left: 1px solid #f1f1f1;
}
.freeBox__tFyjQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 4px;
}
.text__yl7Vx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 12px;
  min-width: 0;
}
.menu__sm1Zy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.menu__rsWhz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__axPke {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 4px;
  display: none;
}
.text___3Cjn7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 12px;
  min-width: 0;
}
.menu__dJhv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.menu__rCrY3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__esqEs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  min-width: 0;
  padding: 3rem 3rem 8px;
}
.text__dCbqe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__sshHq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid #dfdfdfcc;
}
.freeBox__b9Y9Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 60px;
  min-width: 0;
}
.freeBox__a7HMj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__siiZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.svg__tKadL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}
.text__yu4Hk {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__gvqWd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.freeBox__pwTRd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.fragmentInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  min-width: 0;
}
.svg__b9De {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  top: auto;
  width: auto;
  right: 10px;
  cursor: pointer;
  height: 1em;
}
.freeBox__gCdn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid #dfdfdfcc;
}
.freeBox__qIbDj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 60px;
  min-width: 0;
}
.freeBox__qfruk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__n0Hb3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.svg__h3U8R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}
.text___4USow {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__dTs9H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.freeBox__jhs94 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.fragmentInput2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  min-width: 0;
}
.svg__wrEe3 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  top: auto;
  width: auto;
  right: 10px;
  cursor: pointer;
  height: 1em;
}
.text___3MLvn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
  display: none;
}
.freeBox__mmn3N {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  border: 1px solid #c3d8df26;
}
.freeBox__nn7Sa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
}
.freeBox___0Xw5Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 13px;
  border-bottom: 1px solid #c3d8df26;
}
.freeBox__sqZlm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__b8CN {
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  text-align: right;
  padding-left: 0px;
}
.text__toxH0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.button__wy0Lv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__drs9S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rUIu4 {
  font-size: 13px;
}
.svg__cy2Tz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__x792V {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  border: 1px solid #c3d8df26;
}
.freeBox__egWk0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
}
.freeBox___7Ckds {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 13px;
  border-bottom: 1px solid #c3d8df26;
}
.freeBox__v4FPf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___0Pwgm {
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  text-align: right;
}
.text___8K5Ni {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.button__j2VYs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vcmmi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___0Rsu9 {
  font-size: 13px;
}
.svg__gdEdB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xNu7S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  min-width: 0;
  padding: 3rem 3rem 8px;
}
.text__tsIot {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__p1Vjl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid #dfdfdfcc;
}
.freeBox___5Mpco {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 60px;
  min-width: 0;
}
.freeBox__nQkb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__wMLda {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.svg__vmzp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}
.text__gCvkD {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__saOd4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.freeBox___0KcpS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.fragmentInput4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  min-width: 0;
}
.svg__psUz {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  top: auto;
  width: auto;
  right: 10px;
  cursor: pointer;
  height: 1em;
}
.freeBox__k5Pbi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid #dfdfdfcc;
}
.freeBox__ngrHq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 60px;
  min-width: 0;
}
.freeBox___7Ds60 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hjaO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.text__clFjN {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__fiLrZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.freeBox__z3C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.fragmentInput3:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__mrPfG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 60px;
  min-width: 0;
}
.freeBox___8T2O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1ZY62 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.text__sh0Il {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__sfB33 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.freeBox__fiIEc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
}
.fragmentInput5:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.svg__pm0W2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__edQi9 {
  padding-top: 0px;
}
.svg__jyJj2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__v8R81 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
  display: none;
}
.freeBox___9GlxP {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  border: 1px solid #c3d8df26;
}
.freeBox__tX8Fz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
}
.freeBox___7RQej {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 13px;
  border-bottom: 1px solid #c3d8df26;
}
.freeBox__x58Ma {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zhxl1 {
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  text-align: right;
  padding-left: 0px;
}
.text__nJbPa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.button__gpKf8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__h4Ruf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rw3Uf {
  font-size: 13px;
}
.svg__r1T91 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__cIvD {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-bottom: 12px;
  row-gap: 20px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  border: 1px solid #c3d8df26;
}
.freeBox___2GFo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
}
.freeBox__bf7C0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 13px;
  border-bottom: 1px solid #c3d8df26;
}
.freeBox__yoj2N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__dr2Ln {
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  text-align: right;
}
.text__znQke {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.button__glCie:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vduL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1RQd7 {
  font-size: 13px;
}
.svg__qXi6V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___0Gkbh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  row-gap: 5px;
  min-width: 0;
  padding: 3rem 3rem 8px;
}
.text__kev8Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
}
.fragmentApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__wFs5U {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.text___022H4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.pageItem:global(.__wab_instance) {
  max-width: 100%;
}
.button__gOaRq:global(.__wab_instance) {
  max-width: 100%;
  width: 11rem;
}
.svg___2PE7U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3ByGo {
  font-size: 14px;
}
.svg__uBlj0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___7SdHc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  row-gap: 5px;
  min-width: 0;
  padding: 3rem 3rem 8px;
}
.text___9Hm5T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
}
.fragmentGetMenus:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__eSrgd {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
}
.text__noIiJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem:global(.__wab_instance) {
  max-width: 100%;
}
.button__aEaWq:global(.__wab_instance) {
  max-width: 100%;
  width: 11rem;
}
.svg__e9IRv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fvXpf {
  font-size: 14px;
}
.svg__wq0GP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
