.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__myAsb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.reveal__qqQri:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #ffffff;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  min-width: 0;
}
.freeBox__tp9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 0;
  border-bottom: 1px solid #e8eff2;
}
.freeBox__vu16Q {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__vu16Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__vu16Q > :global(.__wab_flex-container) > *,
.freeBox__vu16Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vu16Q > :global(.__wab_flex-container) > picture > img,
.freeBox__vu16Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__j2L7H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 900;
}
.freeBox__zQdRr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1.5px;
  height: 1.5rem;
  max-width: 100%;
  background: #efefef;
  min-width: 2.5px;
  flex-shrink: 0;
}
.text__b4KYy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}
.freeBox__hthxa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__hthxa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
}
.freeBox__hthxa > :global(.__wab_flex-container) > *,
.freeBox__hthxa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hthxa > :global(.__wab_flex-container) > picture > img,
.freeBox__hthxa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13px;
}
.freeBox__zS7UP {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zS7UP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__zS7UP > :global(.__wab_flex-container) > *,
.freeBox__zS7UP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zS7UP > :global(.__wab_flex-container) > picture > img,
.freeBox__zS7UP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__pi2RT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.reveal__lSx74:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__feser {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-bottom: 100px;
  padding-top: 90px;
  min-width: 0;
  min-height: 0;
}
.freeBox__bpoUp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__rypiP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 30rem;
  height: auto;
  flex-shrink: 0;
  padding: 20px;
}
.freeBox__rypiP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rypiP > :global(.__wab_flex-container) > *,
.freeBox__rypiP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rypiP > :global(.__wab_flex-container) > picture > img,
.freeBox__rypiP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vwS2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vwS2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__vwS2 > :global(.__wab_flex-container) > *,
.freeBox__vwS2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vwS2 > :global(.__wab_flex-container) > picture > img,
.freeBox__vwS2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.text__dMZzz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.text__xaG0K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-bottom: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  margin-right: 2px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__yia9K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 1.7;
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
  min-width: 0;
}
.text___7LqB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 1.7;
  font-size: 14px;
  opacity: 0.7;
  font-weight: 400;
  min-width: 0;
}
.freeBox__rXWpE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 30rem;
  height: auto;
  flex-shrink: 0;
  padding: 20px;
}
.freeBox__rXWpE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rXWpE > :global(.__wab_flex-container) > *,
.freeBox__rXWpE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rXWpE > :global(.__wab_flex-container) > picture > img,
.freeBox__rXWpE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hEfgr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hEfgr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__hEfgr > :global(.__wab_flex-container) > *,
.freeBox__hEfgr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hEfgr > :global(.__wab_flex-container) > picture > img,
.freeBox__hEfgr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__lokS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  padding-right: 0px;
  padding-bottom: 2px;
  min-width: 0;
}
.text___5Wrxb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  margin-bottom: 2px;
  min-width: 0;
}
.text__zZr7Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  margin-bottom: 8px;
  min-width: 0;
}
.nameInput:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__y28Qv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__cx5Lf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  padding-right: 0px;
  min-width: 0;
}
.text__dxc7W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  margin-bottom: 2px;
  min-width: 0;
}
.freeBox__kKwDc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kKwDc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 7px);
  width: calc(100% + 7px);
}
.freeBox__kKwDc > :global(.__wab_flex-container) > *,
.freeBox__kKwDc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kKwDc > :global(.__wab_flex-container) > picture > img,
.freeBox__kKwDc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 7px;
}
.keyInput:global(.__wab_instance) {
  object-fit: cover;
  width: 100%;
  padding-left: 230px;
  font-size: 14px;
  min-width: 0;
}
.text__blxR1 {
  position: absolute;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 15px;
  font-family: "Ubuntu Mono";
  opacity: 0.6;
  left: 4px;
  top: 9px;
}
.freeBox__lmjdq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  min-width: 0;
}
.fragmentApiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rtsds {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 12px;
  font-weight: 400;
  color: #6e808d;
  min-width: 0;
}
.text__i8Lb4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 12px;
  font-weight: 400;
  color: #ba0e0e;
  min-width: 0;
}
.text__bugyn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  padding-right: 0px;
  color: #2daf82;
  min-width: 0;
}
.freeBox__mjWcn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  min-width: 0;
}
.text__enj3L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  padding-right: 0px;
  color: #c58b4e;
  min-width: 0;
}
.freeBox__sd9Q7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__sd9Q7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__sd9Q7 > :global(.__wab_flex-container) > *,
.freeBox__sd9Q7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sd9Q7 > :global(.__wab_flex-container) > picture > img,
.freeBox__sd9Q7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__oDOh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.appType___4EuR:global(.__wab_instance) {
  max-width: 100%;
}
.appType__omKma:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__enYpW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.3;
  min-width: 0;
  border-radius: 8px;
  padding: 18px;
  border: 1px solid #b7c0cb54;
}
.freeBox__enYpW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__enYpW > :global(.__wab_flex-container) > *,
.freeBox__enYpW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__enYpW > :global(.__wab_flex-container) > picture > img,
.freeBox__enYpW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.text__hOqT8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.text__prtEx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___11IgA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3BTya {
  padding-right: 0px;
}
.svg__oKkZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
