.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
.freeBox__pr2Qf {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: 70px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 20px;
}
.freeBox__pr2Qf > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pr2Qf > * {
    grid-column: 4;
  }
}
.freeBox__bDspl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  padding-top: 30px;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bDspl {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.freeBox__w6NcI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 811px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.freeBox__la0Sl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.link__ypiuh {
  position: relative;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
  height: auto;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  color: #000000;
  column-gap: 10px;
}
.root .link__ypiuh:hover {
  color: #000000;
}
.svg___1B5M5 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-s_XuzePAGmOh);
  flex-shrink: 0;
}
.text__s4X6O {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 800;
  font-size: 18px;
  color: var(--token-s_XuzePAGmOh);
  min-width: 0;
}
.freeBox__rdoli {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 26px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rdoli {
    display: none;
  }
}
.link__uLgo0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #00000099;
}
.link__enRrO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #00000099;
}
.freeBox__lBXie {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lBXie {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.reveal__oqWxR:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__wysfY {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 330px;
  max-width: 100%;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wysfY {
    align-items: flex-start;
    justify-content: center;
    height: 220px;
    padding: 10px;
  }
}
.text__dn4Ue {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 31px;
  padding-top: 0px;
  color: #000000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dn4Ue {
    text-align: right;
    font-size: 28px;
  }
}
.text__paAyx {
  position: relative;
  width: 422px;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000000;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__paAyx {
    text-align: right;
    font-size: 14px;
  }
}
.freeBox___72XQz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  column-gap: 10px;
  min-width: 0;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  width: 280px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paziresh24Button:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__sf29J {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__kV8Ez {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.reveal__aiwYy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__aiwYy:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox___8GrB {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8GrB {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 30px;
  }
}
.freeBox__lqwj8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 300px;
  max-width: 350%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  min-width: 350px;
  padding: 8px;
}
.img___4LGfg {
  object-fit: cover;
  max-width: 100%;
  width: 310px;
}
.img___4LGfg > picture > img {
  object-fit: cover;
}
.freeBox___835Vc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
.text___4WJdx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
.text__rrkLm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  align-self: auto;
  min-width: 0;
}
.text__gtoU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  align-self: auto;
  opacity: 0.6;
  min-width: 0;
}
.reveal___1Avvn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___1Avvn:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__v0WDu {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v0WDu {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 30px;
  }
}
.freeBox__kOkX8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
.text__qd78U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
.text___3Cuzl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  align-self: auto;
  min-width: 0;
}
.freeBox__teKuj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 300px;
  max-width: 350%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  min-width: 350px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__teKuj {
    grid-row-start: 1;
  }
}
.img___4APb {
  object-fit: cover;
  max-width: 100%;
  width: 280px;
}
.img___4APb > picture > img {
  object-fit: cover;
}
.reveal___3GzS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal___3GzS:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__rAZut {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rAZut {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-row-gap: 30px;
  }
}
.freeBox__urYX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  height: 300px;
  max-width: 350%;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  min-width: 350px;
  padding: 8px;
}
.img__wmFLe {
  object-fit: cover;
  max-width: 100%;
  width: 310px;
}
.img__wmFLe > picture > img {
  object-fit: cover;
}
.freeBox__yIOdd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
}
.text__bxEUj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0px;
  min-width: 0;
}
.text__hf2QP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  align-self: auto;
  min-width: 0;
}
.text___3OSwy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  align-self: auto;
  opacity: 0.6;
  min-width: 0;
}
.reveal__acYn4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___3Orxe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 40px;
  background: #f5f5f5;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 0px;
  padding: 38px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Orxe {
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.freeBox__vOehZ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 811px;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  flex-shrink: 0;
  padding: 8px;
}
.text__d8TPb {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  color: #000000;
}
.freeBox___8NTyo {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8NTyo {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__ouvdb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  cursor: auto;
  column-gap: 10px;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 10px;
  border: 1px none var(--token-4iQ-8GWBqX6X);
}
.img__kvJkg {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 58px;
}
.img__kvJkg > picture > img {
  object-fit: cover;
}
.freeBox___6Ber {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__y5JbF {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  padding-right: 0px;
  color: #000000;
}
.text___9KghR {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 300;
  font-size: 11px;
  padding-right: 0px;
  color: #000000;
  opacity: 0.7;
}
.freeBox__dfM3F {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  column-gap: 5px;
  box-shadow: none;
  min-width: 0;
  border-radius: 0px;
  padding: 10px;
  border: 2px dashed #d1d5db;
}
.svg__bITZ {
  object-fit: cover;
  max-width: 100%;
  width: 21px;
  height: 21px;
  color: #6b7280;
  flex-shrink: 0;
}
.text__k589 {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 14px;
  padding-right: 0px;
  color: #6b7280;
}
.reveal___4Baqk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__hy0D {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  margin-top: 90px;
  min-width: 0;
  padding: 8px;
}
.text__ph753 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.freeBox__t4GaP {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: auto;
  height: auto;
  max-width: 100%;
  grid-row-gap: 0px;
  grid-column-gap: 60px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t4GaP {
    grid-column-gap: 30px;
  }
}
.freeBox__ycb5M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ycb5M {
    align-items: center;
    justify-content: center;
  }
}
.text__ycrDk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
}
.text__gHdzp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
}
.freeBox__luVcJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__luVcJ {
    align-items: center;
    justify-content: center;
  }
}
.text___6NYZs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
}
.text__dw1Gc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dw1Gc {
    text-align: center;
  }
}
.reveal__bXkJl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__h117M {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  margin-top: 90px;
  min-width: 0;
  padding: 8px;
}
.img__vqiyG {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
}
.img__vqiyG > picture > img {
  object-fit: cover;
}
.freeBox__hbzZs {
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 90px;
  justify-self: auto;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__trY8L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}
.img___5K09F {
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.img___5K09F > picture > img {
  object-fit: cover;
}
.freeBox___93M3A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__anXZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
.text__mEqLi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: justify;
  min-width: 0;
}
.text__vGeZv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 16px;
  font-weight: 300;
  min-width: 0;
}
.ul__p5Q6R {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.freeBox___9MrEt {
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 90px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__sj5Bn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.text__cAhBt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
.text__cSw4S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: justify;
  min-width: 0;
}
.text__b7Aqu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 16px;
  font-weight: 300;
  min-width: 0;
}
.ul__tKiTf {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.freeBox__yfahr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.img___4Kkhg {
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.img___4Kkhg > picture > img {
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
