.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  column-gap: 50px;
  min-width: 0;
  padding: 5px 20px;
  border-bottom: 1.5px dashed #e5e5e5;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uNeyn {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  padding: 8px;
}
.freeBox__zUuIe {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-g3lfLdECHwd-);
  flex-shrink: 0;
  border-radius: 260px;
  padding: 8px;
}
.freeBox__muf6M {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 10px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-g3lfLdECHwd-);
  flex-shrink: 0;
  border-radius: 260px;
  padding: 8px;
}
.freeBox___2N0G1 {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  padding: 8px;
}
.freeBox__no0Ef {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-g3lfLdECHwd-);
  flex-shrink: 0;
  border-radius: 260px;
  padding: 8px;
}
.freeBox__ervX1 {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 10px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-g3lfLdECHwd-);
  flex-shrink: 0;
  border-radius: 260px;
  padding: 8px;
}
.freeBox__sKbtl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  padding: 8px;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  background: var(--token-aZBQ8_p59WAB);
  color: var(--token-4_KBhGzHBxWk);
  font-size: 14px;
  flex-shrink: 0;
}
.freeBox__rzJj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__gnaiq {
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.link {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 11px;
  color: var(--token-s_XuzePAGmOh);
  text-align: left;
  text-decoration-line: underline !important;
}
.freeBox___8JEmc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
  padding: 8px;
}
.text__bt4Ma {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  text-decoration-line: none;
  font-size: 14px;
}
.freeBox__e7X3Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 170px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
  padding: 8px;
}
.fragmentLineClamp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__c6Iv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  white-space: pre-wrap;
  font-size: 13px;
  min-width: 0;
}
.freeBox___7OSRs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 130px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
  padding: 8px;
}
.text__qQk8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
}
.freeBox__fqvXr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 130px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button__p2DWw:global(.__wab_instance) {
  max-width: 100%;
}
.svg__anFhR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hKn3W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yflDr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__coFlP {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: #eff6ff;
  font-size: 14px;
  color: #1e3a8a;
  font-weight: 500;
  min-width: 0;
  border-radius: 6px;
  padding: 10px;
}
.freeBox__zJbk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.paziresh24Button__wIOhB:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rBfcK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dfrj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__agZx4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__a5Qp5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lSp2B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
