.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-ExXtYmh32M4K);
  font-family: var(--token-X_O6zfFkMxZh);
  font-size: var(--token-UbL2p75DX6mb);
  line-height: var(--token-Qh7QI7zrYZNM);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-7sgBGndOd4ze);
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__aFyAn {
  display: flex;
  position: relative;
  width: var(--token-AMuzw0jjwUyx);
  height: var(--token-AMuzw0jjwUyx);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-yDIAPJLk_GSk);
}
.ariaRadio[data-selected] .freeBox__aFyAn {
  background: var(--token-4_KBhGzHBxWk);
  border-color: var(--token-4_KBhGzHBxWk);
}
.ariaRadio[data-focus-visible] .freeBox__aFyAn {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-4_KBhGzHBxWk);
  outline-width: 2px;
}
.freeBox__cima7 {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__cima7 {
  width: var(--token-NlK48oD5OQLA);
  height: var(--token-NlK48oD5OQLA);
  flex-shrink: 0;
  display: block;
}
