.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jZThm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 38px;
}
.text__csJa7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__hvEcx {
  object-fit: cover;
  max-width: 100%;
  width: 52px;
  height: 52px;
  margin-top: 40px;
}
.freeBox__iMko7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__iMko7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__iMko7 > :global(.__wab_flex-container) > *,
.freeBox__iMko7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iMko7 > :global(.__wab_flex-container) > picture > img,
.freeBox__iMko7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__nIv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.8;
  background: var(--token-CLN8EitO07Ao);
  min-width: 0;
  border-radius: 8px;
  padding: 18px;
}
.freeBox__nIv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__nIv > :global(.__wab_flex-container) > *,
.freeBox__nIv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nIv > :global(.__wab_flex-container) > picture > img,
.freeBox__nIv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__rjoPl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text__sHnqw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  min-width: 0;
}
.text___4UqxK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}
.freeBox__d8LhD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__d8LhD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__d8LhD > :global(.__wab_flex-container) > *,
.freeBox__d8LhD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d8LhD > :global(.__wab_flex-container) > picture > img,
.freeBox__d8LhD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__r7X5S {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-CLN8EitO07Ao);
  min-width: 0;
  border-radius: 8px;
  padding: 18px;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__b8Qwn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kYpEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0TjGm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___0TjGm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___0TjGm > :global(.__wab_flex-container) > *,
.freeBox___0TjGm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0TjGm > :global(.__wab_flex-container) > picture > img,
.freeBox___0TjGm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.paziresh24Avatar:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.freeBox__ym0AL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ym0AL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ym0AL > :global(.__wab_flex-container) > *,
.freeBox__ym0AL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ym0AL > :global(.__wab_flex-container) > picture > img,
.freeBox__ym0AL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__i7YEt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 18px;
  min-width: 0;
}
.text__yNoNw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  min-width: 0;
}
.freeBox__oAcyL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__oAcyL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__oAcyL > :global(.__wab_flex-container) > *,
.freeBox__oAcyL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oAcyL > :global(.__wab_flex-container) > picture > img,
.freeBox__oAcyL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.paziresh24Button__nc0F3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__zk75W {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #ffffff;
}
.svg__qHzyy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__j8W1K:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uJiP {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-s_XuzePAGmOh);
}
.svg__aft9K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__kkRvb:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bbUv7 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #ffffff;
}
.svg__oly3U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__b20Zj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__b20Zj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__b20Zj > :global(.__wab_flex-container) > *,
.freeBox__b20Zj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b20Zj > :global(.__wab_flex-container) > picture > img,
.freeBox__b20Zj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__p2Ojo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  opacity: 0.8;
  background: #fef2f2;
  min-width: 0;
  border-radius: 8px;
  padding: 18px;
}
.freeBox__p2Ojo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__p2Ojo > :global(.__wab_flex-container) > *,
.freeBox__p2Ojo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p2Ojo > :global(.__wab_flex-container) > picture > img,
.freeBox__p2Ojo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__miJuW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: #681a1e;
  min-width: 0;
}
.paziresh24Button___08Ka0:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tbiug {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #ffffff;
}
.svg__drgs3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
