.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  min-width: 0;
  row-gap: var(--token-CdJX0EkHyDa1);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__sROc {
  display: flex;
  flex-direction: column;
}
.freeBox__p6UbJ {
  flex-direction: row;
  position: absolute;
  height: var(--token-sknYwGLTsKCf);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-NlK48oD5OQLA) var(--token-sJM2BOMt3w2c);
}
.freeBoxiconStart__p6UbJvbo1F {
  display: flex;
}
.slotTargetStart {
  color: var(--token-A-u07RlpTYdX);
}
.svg__zfyRe {
  position: relative;
  height: 1em;
}
.textInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__cbSDr {
  height: var(--token-sknYwGLTsKCf);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-NlK48oD5OQLA) var(--token-sJM2BOMt3w2c);
}
.freeBoxiconEnd__cbSDrHfneZ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-A-u07RlpTYdX);
}
.svg__y25F6 {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
