.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-CdJX0EkHyDa1);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox__jED {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-1diinA05a45D);
  width: 100%;
  font-size: var(--token-UbL2p75DX6mb);
  line-height: var(--token-Qh7QI7zrYZNM);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-NlK48oD5OQLA);
  padding: var(--token-NlK48oD5OQLA) var(--token-sknYwGLTsKCf)
    var(--token-NlK48oD5OQLA) var(--token-sJM2BOMt3w2c);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-sknYwGLTsKCf);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-sknYwGLTsKCf);
  flex-shrink: 0;
  border-radius: var(--token-NlK48oD5OQLA);
  padding: var(--token-NlK48oD5OQLA) var(--token-sJM2BOMt3w2c);
  border: 1px none black;
}
.freeBox__ttNkC {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-lzbLUwe6BjdN);
  height: var(--token-lzbLUwe6BjdN);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__cnacH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
