.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  column-gap: 50px;
  min-width: 0;
  padding: 5px 20px;
  border-bottom: 1.5px dashed #e5e5e5;
}
.freeBox__m8AkW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
  padding: 8px;
}
.text___2J10H {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
}
.freeBox__wdXQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
  padding: 8px;
}
.text__kptZ4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
}
.freeBox__wQygW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: auto;
  max-width: 100%;
  align-self: center;
  cursor: pointer;
  column-gap: 10px;
  flex-shrink: 0;
  padding: 8px;
}
.paziresh24LineClamp:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__oqLcQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  min-width: 0;
}
.svg___11PYs {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  min-width: 20px;
  flex-shrink: 0;
}
.freeBox__ipntl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 10px;
  flex-shrink: 0;
  padding: 8px;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.paziresh24Button__seStr:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rWnc4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 18px;
  color: var(--token-s_XuzePAGmOh);
  min-width: 18px;
}
.svg___9Ouj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4YeIt {
  font-family: "Vazirmatn", sans-serif;
  font-size: var(--token-podr231_9RBN);
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__mi9VN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__fx2Qo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 7px;
  min-width: 0;
}
.text__ibKn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  font-family: "Vazirmatn", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__pt7V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 7px;
  min-width: 0;
}
.text___6Jt2A {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  font-family: "Vazirmatn", sans-serif;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text___4Vdc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  opacity: 1;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__d7Ll9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 6px;
  min-width: 0;
}
.freeBox__l01Tu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__dSk5W {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___4Wuh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  opacity: 0.6;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__pB2Gt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  opacity: 0.6;
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___6KFvQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.paziresh24Button__t24U:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ez2ZO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__no7Bv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__vJgi0:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
  min-width: 100px;
  flex-shrink: 0;
}
.svg___3SdJz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-lBXxoq0q4VUt);
}
.svg__twd4T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
