.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-CdJX0EkHyDa1);
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__tgzbj {
  position: relative;
  display: flex;
  flex-direction: column;
}
.freeBox__tgzbj > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - var(--token-CdJX0EkHyDa1));
  height: calc(100% + var(--token-CdJX0EkHyDa1));
}
.freeBox__tgzbj > :global(.__wab_flex-container) > *,
.freeBox__tgzbj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tgzbj > :global(.__wab_flex-container) > picture > img,
.freeBox__tgzbj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-CdJX0EkHyDa1);
}
.radio__dEi3L:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__haGg5:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__jAj3:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
