.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jnlGg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__dmEfe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__pg3E7 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: 100%;
  max-width: 100%;
  background: #dfdfdf0d;
  flex-shrink: 0;
  min-height: 0;
  display: none;
  padding: 25px 1rem 8px;
  border-left: 1px solid #f1f1f1;
}
.text__qy6Ib {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 10px;
  margin-top: 0px;
  min-width: 0;
}
.fetchData:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qmEup {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  margin-top: 30px;
  align-self: center;
}
.freeBox__yRzdo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 4px;
}
.menu__j6YWr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jnCjc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  height: 100%;
  row-gap: 10px;
  min-width: 0;
  min-height: 0;
  padding: 0rem 3rem;
}
.freeBox__tm7Ne {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: visible;
  padding-bottom: 0rem;
  padding-top: 3rem;
  column-gap: 10px;
  min-width: 0;
}
.freeBox__fc4Id {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 110px;
  min-width: 0;
}
.freeBox__jDagA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.fragmentApiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__msCga {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__hw3Ls {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text___5Ymdr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__sIMoH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 17px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.svg__eEwS {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__msCuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__enJuP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__gYxqP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__l5H0H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__jNZz {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__zVn2F {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox__d9Vx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__cu8Iw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__bbZd5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__hxBE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__glozv {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__dpUyq {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox__uEmbm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.popover2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button___7T1CZ:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3JtNx {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
}
.svg__hd6Df {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__vqzSt {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: #ffffff;
  align-items: flex-start;
  width: auto;
  box-shadow: 0px 4px 26px 0px #0000001f;
  row-gap: var(--token-7sgBGndOd4ze);
  border-radius: 10px;
  padding: 10px;
}
.datePicker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__lIapd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__lUpZz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: visible;
  padding-bottom: 0rem;
  padding-top: 1rem;
  row-gap: 10px;
  min-width: 0;
}
.freeBox___5XFaG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__ric13 {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  display: none;
  padding: 8px;
}
.filter__a9PoD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hmImf {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 110px;
  min-width: 0;
}
.freeBox__qkRc3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.activeUserApi6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__utieP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__xxYin {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__tvbjg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__jwwAi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 17px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.svg__padU {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__czbOb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__taa9J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__bKr3D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__dnBtO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text___41YAw {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__hG5B {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox___1WdDt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 438px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__ppUhP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text___0K8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__eYco6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__s5LgD {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text___6CUv {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox___6Waof {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.activeUserApi5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__k2Dhx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text___4Ub8N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text___7Dwi7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__jiCrY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 17px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.svg__n0Mvo {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__mHXfD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__eW1R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__jFvyP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__p3QZp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__b8565 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__j7Mu6 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox___9DiXg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__yk19V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__qdsjb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__h5SBs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__ctxtk {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__nonpe {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox__htljd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.activeUserApi7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___7DlX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__t4Cj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__kBQzu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__z3B35 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 17px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.svg__dgI2 {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__y0Iiz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__asCv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__jkdUv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__zoVkj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__tmZxM {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__jppRl {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox__llo9R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 438px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__iXt5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__maCi8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox___4NoW9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__mpH4I {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__vw9Eh {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox___8Pg5E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 1rem;
  min-width: 0;
}
.popover3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__q0GeU:global(.__wab_instance) {
  max-width: 100%;
}
.svg___7QxCl {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-kzT08fQBAHgz);
}
.svg__r0VwI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__fgvY6 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: #ffffff;
  align-items: flex-start;
  width: auto;
  box-shadow: 0px 4px 26px 0px #0000001f;
  row-gap: var(--token-7sgBGndOd4ze);
  border-radius: 10px;
  padding: 10px;
}
.freeBox__v0GNu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: 100%;
  max-width: 100%;
  background: #dfdfdf0d;
  min-height: 0;
  border-left: 1px solid #f1f1f1;
}
.text___4YoDk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.5;
  margin-bottom: 10px;
  margin-top: 0px;
  min-width: 0;
}
.fetchData2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yiOrv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  margin-top: 30px;
  align-self: center;
}
.freeBox__zqlVl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 4px;
}
.menu___0U5PW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cYsK7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: visible;
  padding-bottom: 5rem;
  padding-top: 1rem;
  row-gap: 10px;
  min-width: 0;
}
.freeBox__tr8NN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__zAxBt {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  display: none;
  padding: 8px;
}
.filter__v1Lie:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__yUj5Y {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  max-width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-rows: 110px;
  min-width: 0;
}
.freeBox___95AeT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.activeUserApi3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rNufs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__nbk7I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__ap3Jh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__jpjx6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 17px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.svg__lzkX {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__syDse {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__ajg4J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__oeYeo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__iKc3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__nCYvo {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__hltWn {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox__ge4JD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__izaaz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text___2NcKt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox___04H48 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__xvjf7 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__gkMcv {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox__t6Cfa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.activeUserApi4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ewtdk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__cy5T7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__jl7Pt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__iFw0C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 17px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.svg__xNwEv {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__dujI2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 111px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__h59S1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__oRcB1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__rKtcA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__o4U0R {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__td3Rc {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.freeBox__zmYx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 438px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #efefef;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
}
.text__vyxQf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 13px;
  min-width: 0;
}
.text__woVs6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 11px;
  color: #0000007a;
  min-width: 0;
}
.freeBox__p210W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 10px;
  column-gap: 6px;
  min-width: 0;
  min-height: 0;
}
.text__h058T {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 23px;
}
.text__hLp15 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.5;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
