.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-4_KBhGzHBxWk);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-7sgBGndOd4ze);
  font-family: var(--token-X_O6zfFkMxZh);
  font-size: var(--token-UbL2p75DX6mb);
  line-height: var(--token-Qh7QI7zrYZNM);
  outline-style: none;
  border-radius: var(--token-NlK48oD5OQLA);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-jESTLQMle5YA);
  outline-offset: 1px;
  outline-color: var(--token-4_KBhGzHBxWk);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-ATrJktvp3EwA);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-80uuWm6suUf7);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-X2XI8bYQCXsj);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-l_1bWFhon4Ur);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-YAl0V-Ojahwz);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-_IlJb8Afrd0I);
  font-size: var(--token-oEOn_uWWac48);
  column-gap: var(--token-jESTLQMle5YA);
  row-gap: 0px;
  border-radius: var(--token-CdJX0EkHyDa1);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-oEOn_uWWac48);
  line-height: var(--token-_IlJb8Afrd0I);
  column-gap: var(--token-CdJX0EkHyDa1);
  row-gap: 0px;
  border-radius: var(--token-CdJX0EkHyDa1);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-bAnC7hv6_dm7);
  line-height: var(--token-JMJSLzmCNznw);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-bAnC7hv6_dm7);
  line-height: var(--token-JMJSLzmCNznw);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-aZBQ8_p59WAB);
  border-radius: var(--token-NlK48oD5OQLA);
}
.softBackgroundcolor_neutral {
  background: var(--token-hHnKSjX90Lsz);
}
.softBackgroundcolor_muted {
  background: var(--token-XU_D1gF_9l2R);
}
.softBackgroundcolor_success {
  background: var(--token-ZYWEh3PaUWuG);
}
.softBackgroundcolor_warning {
  background: var(--token-YO0XZAjpbGxE);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-fkOin-Q4liV_);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-NlK48oD5OQLA);
  border: 0px solid var(--token-MQYCDRb0VNTY);
}
.bordercolor_neutral {
  border-color: var(--token-l68OLee_x4BN);
}
.bordercolor_muted {
  border-color: var(--token-j00EYtj0bhhp);
}
.bordercolor_success {
  border-color: var(--token-bjyJIyUcxcGB);
}
.bordercolor_warning {
  border-color: var(--token-Jc_A7OQ5ryqa);
}
.bordercolor_errorDestructive {
  border-color: var(--token-8okoya1vIYRv);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-NlK48oD5OQLA);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-_VIQLV-OLW16);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-QYPwRF4PGm-p);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-rcIEpuwMP-NG);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___6ZEo {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-NlK48oD5OQLA) var(--token-sJM2BOMt3w2c);
}
.freeBox___6ZEo > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-NlK48oD5OQLA));
  width: calc(100% + var(--token-NlK48oD5OQLA));
}
.freeBox___6ZEo > :global(.__wab_flex-container) > *,
.freeBox___6ZEo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6ZEo > :global(.__wab_flex-container) > picture > img,
.freeBox___6ZEo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-NlK48oD5OQLA);
}
.freeBoxsize_extraSmall___6ZEo2VSzY {
  padding: var(--token-CdJX0EkHyDa1) var(--token-NlK48oD5OQLA);
}
.freeBoxsize_small___6ZEoDBaMk {
  padding: var(--token-NlK48oD5OQLA) var(--token-7sgBGndOd4ze);
}
.freeBoxsize_large___6ZEopoTjt {
  padding-top: var(--token-CdJX0EkHyDa1);
  padding-bottom: var(--token-CdJX0EkHyDa1);
}
.freeBoxsize_extraLarge___6ZEoxckFz {
  padding-left: var(--token-dQuiqDouf7Gm);
  padding-right: var(--token-dQuiqDouf7Gm);
}
.freeBoxroundedFull___6ZEos5F77 {
  padding-right: var(--token-dQuiqDouf7Gm);
  padding-left: var(--token-dQuiqDouf7Gm);
}
.freeBox__fFlub {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__fFlub5PwT5 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-g3lfLdECHwd-);
}
.slotTargetStartcolor_neutral {
  color: var(--token-F3Aqggd6NhU6);
}
.slotTargetStartcolor_muted {
  color: var(--token-JsISAIPUelQG);
}
.slotTargetStartcolor_success {
  color: var(--token-SPeg2wI4dPzJ);
}
.slotTargetStartcolor_warning {
  color: var(--token-9CLNEyS7HGDD);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-cuLff2LMbLab);
}
.slotTargetStarttype_soft {
  color: var(--token-1LMO6UR5HdXA);
}
.slotTargetStarttype_bordered {
  color: var(--token-1LMO6UR5HdXA);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-oEOn_uWWac48);
}
.slotTargetStartsize_small {
  font-size: var(--token-oEOn_uWWac48);
}
.slotTargetStartsize_large {
  font-size: var(--token-bAnC7hv6_dm7);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-bAnC7hv6_dm7);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-UuL1hc2KhZmw);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-UuL1hc2KhZmw);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-KaDTpDUosrkM);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-KaDTpDUosrkM);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-dQwKncRBzEXf);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-dQwKncRBzEXf);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-EAZtEPpJOspO);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-EAZtEPpJOspO);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-574ev59-GPbp);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-574ev59-GPbp);
}
.svg___7TFgV {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-g3lfLdECHwd-);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-F3Aqggd6NhU6);
}
.slotTargetLabelcolor_muted {
  color: var(--token-JsISAIPUelQG);
}
.slotTargetLabelcolor_success {
  color: var(--token-SPeg2wI4dPzJ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-9CLNEyS7HGDD);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-cuLff2LMbLab);
}
.slotTargetLabeltype_soft {
  color: var(--token-1LMO6UR5HdXA);
}
.slotTargetLabeltype_bordered {
  color: var(--token-1LMO6UR5HdXA);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-UuL1hc2KhZmw);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-KaDTpDUosrkM);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-UuL1hc2KhZmw);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-dQwKncRBzEXf);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-KaDTpDUosrkM);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-EAZtEPpJOspO);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-dQwKncRBzEXf);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-574ev59-GPbp);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-EAZtEPpJOspO);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-574ev59-GPbp);
}
.text__jTVu7 {
  white-space: pre;
}
.freeBox__m3G53 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__m3G53ThP3 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-g3lfLdECHwd-);
}
.slotTargetEndcolor_neutral {
  color: var(--token-F3Aqggd6NhU6);
}
.slotTargetEndcolor_muted {
  color: var(--token-JsISAIPUelQG);
}
.slotTargetEndcolor_success {
  color: var(--token-SPeg2wI4dPzJ);
}
.slotTargetEndcolor_warning {
  color: var(--token-9CLNEyS7HGDD);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-cuLff2LMbLab);
}
.slotTargetEndtype_soft {
  color: var(--token-1LMO6UR5HdXA);
}
.slotTargetEndtype_bordered {
  color: var(--token-1LMO6UR5HdXA);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-oEOn_uWWac48);
}
.slotTargetEndsize_small {
  font-size: var(--token-oEOn_uWWac48);
}
.slotTargetEndsize_large {
  font-size: var(--token-bAnC7hv6_dm7);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-bAnC7hv6_dm7);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-UuL1hc2KhZmw);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-UuL1hc2KhZmw);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-KaDTpDUosrkM);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-KaDTpDUosrkM);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-dQwKncRBzEXf);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-dQwKncRBzEXf);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-EAZtEPpJOspO);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-EAZtEPpJOspO);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-574ev59-GPbp);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-574ev59-GPbp);
}
.svg__nqKPr {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
