.root {
  display: flex;
  flex-direction: column;
  width: 2px;
  height: 200px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-M8SHDPuEHkX2);
  position: relative;
}
.rootactive {
  background: var(--token-s_XuzePAGmOh);
}
.rootdashed {
  border-top-style: none;
  border-top-width: 1px;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-style: dashed;
  border-left-width: 2px;
  background: none;
}
.rootactive_dashed {
  width: 2px;
  justify-self: flex-start;
  border-right-style: none;
  border-left-style: dashed;
  border-bottom-style: none;
  border-top-style: none;
  border-color: var(--token-s_XuzePAGmOh);
}
