.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-ExXtYmh32M4K);
  font-family: var(--token-X_O6zfFkMxZh);
  font-size: var(--token-UbL2p75DX6mb);
  line-height: var(--token-Qh7QI7zrYZNM);
  width: 100%;
  row-gap: var(--token-dQuiqDouf7Gm);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__cNgun {
  display: flex;
  flex-direction: row;
}
.freeBox__cNgun > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-7sgBGndOd4ze));
  width: calc(100% + var(--token-7sgBGndOd4ze));
}
.freeBox__cNgun > :global(.__wab_flex-container) > *,
.freeBox__cNgun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cNgun > :global(.__wab_flex-container) > picture > img,
.freeBox__cNgun
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-7sgBGndOd4ze);
}
.text__grzaw {
  position: relative;
}
.freeBox___55M18 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-NlK48oD5OQLA);
  padding-bottom: var(--token-NlK48oD5OQLA);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-Z4XSY2FW3yVT);
  height: var(--token-7sgBGndOd4ze);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-7sgBGndOd4ze);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__lKxbH:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-CdJX0EkHyDa1);
}
.foreground {
  display: block;
  background: var(--token-4_KBhGzHBxWk);
  height: var(--token-7sgBGndOd4ze);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
