.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__fVnc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 0;
  flex-shrink: 0;
  border-bottom: 1px solid #e8eff2;
}
.freeBox__z5SsY {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__z5SsY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
}
.freeBox__z5SsY > :global(.__wab_flex-container) > *,
.freeBox__z5SsY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z5SsY > :global(.__wab_flex-container) > picture > img,
.freeBox__z5SsY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13px;
}
.text__kus5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 900;
}
.freeBox__jYfD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1.5px;
  height: 100%;
  max-width: 100%;
  background: #e8eff2;
  flex-shrink: 0;
  min-height: 0;
}
.text__qdz2S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}
.freeBox__e2Ntx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__e2Ntx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
}
.freeBox__e2Ntx > :global(.__wab_flex-container) > *,
.freeBox__e2Ntx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e2Ntx > :global(.__wab_flex-container) > picture > img,
.freeBox__e2Ntx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13px;
}
.fragmentSelect:global(.__wab_instance) {
  width: 13rem;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: #365e70;
  font-weight: 600;
  flex-shrink: 0;
}
.freeBox__ll30Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1.5px;
  height: 1.5rem;
  max-width: 100%;
  background: #e8eff2;
  min-width: 2.5px;
  flex-shrink: 0;
}
.freeBox__vgQcc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vgQcc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__vgQcc > :global(.__wab_flex-container) > *,
.freeBox__vgQcc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vgQcc > :global(.__wab_flex-container) > picture > img,
.freeBox__vgQcc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg__qVz2G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__rv0VB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.freeBox__ry92P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__zu78Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 16rem;
  flex-shrink: 0;
  min-height: 0;
  padding: 25px 1rem;
  border-left: 1.5px dashed #e8eff2;
}
.freeBox__zu78Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__zu78Z > :global(.__wab_flex-container) > *,
.freeBox__zu78Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zu78Z > :global(.__wab_flex-container) > picture > img,
.freeBox__zu78Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__mHtax {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mHtax > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__mHtax > :global(.__wab_flex-container) > *,
.freeBox__mHtax > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mHtax > :global(.__wab_flex-container) > picture > img,
.freeBox__mHtax
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.menu__l1I1D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rmEGv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  min-width: 22px;
}
.menu__n8Ij:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__d8RH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__s5Ho:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ybhO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__zOxdE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zn8Dl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__hKovo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__hKovo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__hKovo > :global(.__wab_flex-container) > *,
.freeBox__hKovo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hKovo > :global(.__wab_flex-container) > picture > img,
.freeBox__hKovo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  opacity: 0.9;
  color: #365e70;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 14px 10px 8px;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__iLeQo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  color: #365e70;
  flex-shrink: 0;
}
.text___7EYhw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 500;
  color: #365e70;
  min-width: 0;
}
.freeBox___3B2E0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
