.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  position: relative;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__fRcly {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fRcly {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__tKx8R {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 400px;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__ikkJw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f5f5f5;
  min-width: 0;
  padding: 18px;
}
.text__xNyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 500;
  min-width: 0;
}
.freeBox__h4J9M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  row-gap: 3px;
  min-width: 0;
  padding: 8px;
}
.freeBox__rjPqt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
}
.freeBox__lzXbz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 8px;
  height: 8px;
  max-width: 100%;
  background: var(--token-s_XuzePAGmOh);
  flex-shrink: 0;
}
.text___5OzRz {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-s_XuzePAGmOh);
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 0;
}
.text__chW38 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 0;
}
.freeBox__mdAbN {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
  display: none;
}
.freeBox___7Ibgk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 8px;
  height: 8px;
  max-width: 100%;
  background: var(--token-s_XuzePAGmOh);
  flex-shrink: 0;
}
.text__uPjB {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  color: var(--token-s_XuzePAGmOh);
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 0;
}
.text__zQxgO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  min-width: 0;
  display: none;
}
