.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  position: relative;
  min-width: 0;
}
.freeBox__aXvnB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 7px;
  min-width: 0;
}
.text__db4Kb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.title:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__tec9L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 7px;
  min-width: 0;
}
.text__uaAdg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__mMuxC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.filter:global(.__wab_instance) {
  max-width: 100%;
}
.text__y2GUh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.freeBox__nDz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 6px;
  min-width: 0;
}
.freeBox__jj0U0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.amount:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__zmmqO {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
}
.text__zi4HJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  opacity: 0.6;
  min-width: 0;
}
.text__s6Xep {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 13px;
  opacity: 0.6;
  min-width: 0;
}
.freeBox__hq0Oc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__z78W6 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__as0Kw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
}
.text__fNdqy {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.text__ctdd9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: -8px;
  margin-bottom: 0px;
  min-width: 0;
}
.text__meujg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: -7px;
  min-width: 0;
}
.trialPeriod:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__wWNq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
}
.paziresh24Button__qX8W6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___93FOp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zq6Mn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__en4Am:global(.__wab_instance) {
  max-width: 100%;
  width: 100px;
  flex-shrink: 0;
}
.svg__ltcGv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nuaZy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
