.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__nk5Tt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__uGkLq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 0;
  flex-shrink: 0;
  border-bottom: 1px solid #e8eff2;
}
.freeBox__etafs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__etafs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
}
.freeBox__etafs > :global(.__wab_flex-container) > *,
.freeBox__etafs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__etafs > :global(.__wab_flex-container) > picture > img,
.freeBox__etafs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13px;
}
.text__ocg1X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 900;
}
.freeBox___4W9KW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1.5px;
  height: 100%;
  max-width: 100%;
  background: #e8eff2;
  flex-shrink: 0;
  min-height: 0;
}
.text__buRz6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}
.freeBox__vrocX {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__vrocX > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 13px);
  width: calc(100% + 13px);
}
.freeBox__vrocX > :global(.__wab_flex-container) > *,
.freeBox__vrocX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vrocX > :global(.__wab_flex-container) > picture > img,
.freeBox__vrocX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 13px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 13rem;
  flex-shrink: 0;
}
.freeBox__ha23B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1.5px;
  height: 1.5rem;
  max-width: 100%;
  background: #e8eff2;
  min-width: 2.5px;
  flex-shrink: 0;
}
.freeBox__nUKsj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nUKsj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.freeBox__nUKsj > :global(.__wab_flex-container) > *,
.freeBox__nUKsj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nUKsj > :global(.__wab_flex-container) > picture > img,
.freeBox__nUKsj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
.svg__t5FPv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__tLCof {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.freeBox__jnlGg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__ek1HE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding: 25px 1rem;
  border-left: 1.5px dashed #e8eff2;
}
.freeBox__ek1HE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__ek1HE > :global(.__wab_flex-container) > *,
.freeBox__ek1HE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ek1HE > :global(.__wab_flex-container) > picture > img,
.freeBox__ek1HE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__xvQiX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xvQiX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__xvQiX > :global(.__wab_flex-container) > *,
.freeBox__xvQiX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xvQiX > :global(.__wab_flex-container) > picture > img,
.freeBox__xvQiX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.menu__wr1W5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__iulcN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  min-width: 22px;
}
.menu__gx4S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ifZkE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__j0Wox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__u6DN3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__tfC34:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__bXnSp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__c2YA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__c2YA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__c2YA > :global(.__wab_flex-container) > *,
.freeBox__c2YA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c2YA > :global(.__wab_flex-container) > picture > img,
.freeBox__c2YA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  opacity: 0.9;
  color: #365e70;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 14px 10px 8px;
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__vwDef {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  color: #365e70;
  flex-shrink: 0;
}
.text__oMso3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 500;
  color: #365e70;
  min-width: 0;
}
.freeBox__dmEfe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__pg3E7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: #c3d8df0d;
  flex-shrink: 0;
  padding: 25px 1rem 8px;
  border-left: 1.5px solid #e8eff2;
}
.freeBox__pg3E7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__pg3E7 > :global(.__wab_flex-container) > *,
.freeBox__pg3E7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pg3E7 > :global(.__wab_flex-container) > picture > img,
.freeBox__pg3E7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__qy6Ib {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 12px;
  min-width: 0;
}
.fetchData:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qmEup {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 35px;
  height: 35px;
  margin-top: 30px;
  align-self: center;
}
.freeBox__yRzdo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 16rem;
  height: auto;
  max-width: 100%;
  background: none;
}
.freeBox__yRzdo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__yRzdo > :global(.__wab_flex-container) > *,
.freeBox__yRzdo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yRzdo > :global(.__wab_flex-container) > picture > img,
.freeBox__yRzdo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.menu__graj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___8TMae {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 11px;
}
.menu__j6YWr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jnCjc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3rem 3rem 8px;
}
.freeBox__jnCjc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__jnCjc > :global(.__wab_flex-container) > *,
.freeBox__jnCjc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jnCjc > :global(.__wab_flex-container) > picture > img,
.freeBox__jnCjc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__reWz8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nDmB {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__nDmB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nDmB > :global(.__wab_flex-container) > *,
.freeBox__nDmB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nDmB > :global(.__wab_flex-container) > picture > img,
.freeBox__nDmB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.filter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
