.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: stretch;
  justify-items: stretch;
  justify-content: flex-start;
  align-items: center;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  justify-self: flex-start;
  height: 100%;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 28px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}
