@import url("https://fonts.googleapis.com/css2?family=Vazirmatn%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Ubuntu+Mono%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-dQuiqDouf7Gm: 0.75rem;
  --plasmic-token-size-12: var(--token-dQuiqDouf7Gm);
  --token-X_O6zfFkMxZh: Inter;
  --plasmic-token-sans-serif: var(--token-X_O6zfFkMxZh);
  --token-UbL2p75DX6mb: 1rem;
  --plasmic-token-font-md: var(--token-UbL2p75DX6mb);
  --token-ExXtYmh32M4K: #030712;
  --plasmic-token-basic-text-primary: var(--token-ExXtYmh32M4K);
  --token-Qh7QI7zrYZNM: 1.25;
  --plasmic-token-line-height-md: var(--token-Qh7QI7zrYZNM);
  --token-7sgBGndOd4ze: 0.5rem;
  --plasmic-token-size-8: var(--token-7sgBGndOd4ze);
  --token-lzbLUwe6BjdN: 1rem;
  --plasmic-token-size-16: var(--token-lzbLUwe6BjdN);
  --token-bdOuhE4J9nqn: #ffffff;
  --plasmic-token-basic-container-background: var(--token-bdOuhE4J9nqn);
  --token-4_KBhGzHBxWk: #2563eb;
  --plasmic-token-brand-brand: var(--token-4_KBhGzHBxWk);
  --token-NlK48oD5OQLA: 0.375rem;
  --plasmic-token-size-6: var(--token-NlK48oD5OQLA);
  --token-ATrJktvp3EwA: #374151;
  --plasmic-token-neutral-neutral: var(--token-ATrJktvp3EwA);
  --token-YAl0V-Ojahwz: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-YAl0V-Ojahwz);
  --token-80uuWm6suUf7: #6b7280;
  --plasmic-token-muted-muted: var(--token-80uuWm6suUf7);
  --token-CdJX0EkHyDa1: 0.25rem;
  --plasmic-token-size-4: var(--token-CdJX0EkHyDa1);
  --token-oEOn_uWWac48: 0.75rem;
  --plasmic-token-font-sm: var(--token-oEOn_uWWac48);
  --token-_IlJb8Afrd0I: 1;
  --plasmic-token-line-height-sm: var(--token-_IlJb8Afrd0I);
  --token-bAnC7hv6_dm7: 1.25rem;
  --plasmic-token-font-lg: var(--token-bAnC7hv6_dm7);
  --token-JMJSLzmCNznw: 1.4;
  --plasmic-token-line-height-lg: var(--token-JMJSLzmCNznw);
  --token-jESTLQMle5YA: 0.125rem;
  --plasmic-token-size-2: var(--token-jESTLQMle5YA);
  --token-X2XI8bYQCXsj: #16a34a;
  --plasmic-token-success-success: var(--token-X2XI8bYQCXsj);
  --token-l_1bWFhon4Ur: #facc15;
  --plasmic-token-warning-warning: var(--token-l_1bWFhon4Ur);
  --token-aZBQ8_p59WAB: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-aZBQ8_p59WAB);
  --token-hHnKSjX90Lsz: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-hHnKSjX90Lsz);
  --token-XU_D1gF_9l2R: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-XU_D1gF_9l2R);
  --token-ZYWEh3PaUWuG: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-ZYWEh3PaUWuG);
  --token-YO0XZAjpbGxE: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-YO0XZAjpbGxE);
  --token-fkOin-Q4liV_: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-fkOin-Q4liV_);
  --token-MQYCDRb0VNTY: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-MQYCDRb0VNTY);
  --token-l68OLee_x4BN: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-l68OLee_x4BN);
  --token-j00EYtj0bhhp: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-j00EYtj0bhhp);
  --token-bjyJIyUcxcGB: #86efac;
  --plasmic-token-success-success-border: var(--token-bjyJIyUcxcGB);
  --token-Jc_A7OQ5ryqa: #fde047;
  --plasmic-token-warning-warning-border: var(--token-Jc_A7OQ5ryqa);
  --token-8okoya1vIYRv: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-8okoya1vIYRv);
  --token-_VIQLV-OLW16: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-_VIQLV-OLW16);
  --token-QYPwRF4PGm-p: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-QYPwRF4PGm-p);
  --token-rcIEpuwMP-NG: #00000033;
  --plasmic-token-interaction-pressed: var(--token-rcIEpuwMP-NG);
  --token-sJM2BOMt3w2c: 0.625rem;
  --plasmic-token-size-10: var(--token-sJM2BOMt3w2c);
  --token-g3lfLdECHwd-: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-g3lfLdECHwd-);
  --token-F3Aqggd6NhU6: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-F3Aqggd6NhU6);
  --token-JsISAIPUelQG: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-JsISAIPUelQG);
  --token-1LMO6UR5HdXA: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-1LMO6UR5HdXA);
  --token-9CLNEyS7HGDD: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-9CLNEyS7HGDD);
  --token-SPeg2wI4dPzJ: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-SPeg2wI4dPzJ);
  --token-cuLff2LMbLab: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-cuLff2LMbLab);
  --token-UuL1hc2KhZmw: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-UuL1hc2KhZmw);
  --token-KaDTpDUosrkM: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-KaDTpDUosrkM);
  --token-dQwKncRBzEXf: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-dQwKncRBzEXf);
  --token-EAZtEPpJOspO: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-EAZtEPpJOspO);
  --token-574ev59-GPbp: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-574ev59-GPbp
  );
  --token-R4pl8owe_GIF: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-R4pl8owe_GIF);
  --token-sknYwGLTsKCf: 2rem;
  --plasmic-token-size-32: var(--token-sknYwGLTsKCf);
  --token-1diinA05a45D: #d1d5db;
  --plasmic-token-basic-border: var(--token-1diinA05a45D);
  --token-A-u07RlpTYdX: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-A-u07RlpTYdX);
  --token-AMuzw0jjwUyx: 1.25rem;
  --plasmic-token-size-20: var(--token-AMuzw0jjwUyx);
  --token-yDIAPJLk_GSk: #9ca3af;
  --plasmic-token-basic-ring: var(--token-yDIAPJLk_GSk);
  --token-ehMViar0B-5G: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-ehMViar0B-5G);
  --token-Z4XSY2FW3yVT: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-Z4XSY2FW3yVT);
  --token-R0Uq2O1B65dV: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-R0Uq2O1B65dV);
  --token-9pqKvO_y5mge: 1.5rem;
  --plasmic-token-size-24: var(--token-9pqKvO_y5mge);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-QOGxRpaURXgN_font-family: "Vazirmatn", sans-serif;
  --mixin-QOGxRpaURXgN_font-size: 16px;
  --mixin-QOGxRpaURXgN_font-weight: 400;
  --mixin-QOGxRpaURXgN_font-style: normal;
  --mixin-QOGxRpaURXgN_color: #000000;
  --mixin-QOGxRpaURXgN_text-align: right;
  --mixin-QOGxRpaURXgN_text-transform: none;
  --mixin-QOGxRpaURXgN_line-height: 1.5;
  --mixin-QOGxRpaURXgN_letter-spacing: normal;
  --mixin-QOGxRpaURXgN_white-space: pre-wrap;
  --mixin-QOGxRpaURXgN_user-select: text;
  --mixin-QOGxRpaURXgN_text-decoration-line: none;
  --mixin-QOGxRpaURXgN_text-overflow: clip;
  --mixin-20Fl585pGyBh_color: #000000;
  --mixin-20Fl585pGyBh_font-weight: 700;
  --mixin-20Fl585pGyBh_font-size: 64px;
  --mixin-20Fl585pGyBh_line-height: 1;
  --mixin-20Fl585pGyBh_letter-spacing: -1px;
  --mixin-20Fl585pGyBh_white-space: pre-wrap;
  --mixin-7ii4TxNF1vYI_color: #000000;
  --mixin-7ii4TxNF1vYI_font-size: 48px;
  --mixin-7ii4TxNF1vYI_font-weight: 700;
  --mixin-7ii4TxNF1vYI_letter-spacing: -0.5px;
  --mixin-7ii4TxNF1vYI_line-height: 1.1;
  --mixin-7ii4TxNF1vYI_white-space: pre-wrap;
  --mixin-FDerdT3GmEat_color: #0070f3;
  --mixin-FDerdT3GmEat_white-space: pre-wrap;
  --mixin-DdKHyjaM2mNK_color: #000000;
  --mixin-DdKHyjaM2mNK_font-size: 32px;
  --mixin-DdKHyjaM2mNK_font-weight: 600;
  --mixin-DdKHyjaM2mNK_line-height: 1.2;
  --mixin-DdKHyjaM2mNK_white-space: pre-wrap;
  --mixin-w3BSpBEKoI9H_color: #000000;
  --mixin-w3BSpBEKoI9H_font-size: 24px;
  --mixin-w3BSpBEKoI9H_font-weight: 600;
  --mixin-w3BSpBEKoI9H_line-height: 1.3;
  --mixin-w3BSpBEKoI9H_white-space: pre-wrap;
  --mixin-MEUtaGjjPF3D_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MEUtaGjjPF3D_border-bottom-color: #dddddd;
  --mixin-MEUtaGjjPF3D_border-bottom-style: solid;
  --mixin-MEUtaGjjPF3D_border-bottom-width: 1px;
  --mixin-MEUtaGjjPF3D_border-left-color: #dddddd;
  --mixin-MEUtaGjjPF3D_border-left-style: solid;
  --mixin-MEUtaGjjPF3D_border-left-width: 1px;
  --mixin-MEUtaGjjPF3D_border-right-color: #dddddd;
  --mixin-MEUtaGjjPF3D_border-right-style: solid;
  --mixin-MEUtaGjjPF3D_border-right-width: 1px;
  --mixin-MEUtaGjjPF3D_border-top-color: #dddddd;
  --mixin-MEUtaGjjPF3D_border-top-style: solid;
  --mixin-MEUtaGjjPF3D_border-top-width: 1px;
  --mixin-MEUtaGjjPF3D_border-bottom-left-radius: 3px;
  --mixin-MEUtaGjjPF3D_border-bottom-right-radius: 3px;
  --mixin-MEUtaGjjPF3D_border-top-left-radius: 3px;
  --mixin-MEUtaGjjPF3D_border-top-right-radius: 3px;
  --mixin-MEUtaGjjPF3D_font-family: "Inconsolata";
  --mixin-MEUtaGjjPF3D_padding-bottom: 1px;
  --mixin-MEUtaGjjPF3D_padding-left: 4px;
  --mixin-MEUtaGjjPF3D_padding-right: 4px;
  --mixin-MEUtaGjjPF3D_padding-top: 1px;
  --mixin-MEUtaGjjPF3D_white-space: pre-wrap;
  --mixin-Ve5MofumnguI_border-left-color: #dddddd;
  --mixin-Ve5MofumnguI_border-left-style: solid;
  --mixin-Ve5MofumnguI_border-left-width: 3px;
  --mixin-Ve5MofumnguI_color: #888888;
  --mixin-Ve5MofumnguI_padding-left: 10px;
  --mixin-Ve5MofumnguI_white-space: pre-wrap;
  --mixin-VL77vC0x4-6T_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-VL77vC0x4-6T_border-bottom-color: #dddddd;
  --mixin-VL77vC0x4-6T_border-bottom-style: solid;
  --mixin-VL77vC0x4-6T_border-bottom-width: 1px;
  --mixin-VL77vC0x4-6T_border-left-color: #dddddd;
  --mixin-VL77vC0x4-6T_border-left-style: solid;
  --mixin-VL77vC0x4-6T_border-left-width: 1px;
  --mixin-VL77vC0x4-6T_border-right-color: #dddddd;
  --mixin-VL77vC0x4-6T_border-right-style: solid;
  --mixin-VL77vC0x4-6T_border-right-width: 1px;
  --mixin-VL77vC0x4-6T_border-top-color: #dddddd;
  --mixin-VL77vC0x4-6T_border-top-style: solid;
  --mixin-VL77vC0x4-6T_border-top-width: 1px;
  --mixin-VL77vC0x4-6T_border-bottom-left-radius: 3px;
  --mixin-VL77vC0x4-6T_border-bottom-right-radius: 3px;
  --mixin-VL77vC0x4-6T_border-top-left-radius: 3px;
  --mixin-VL77vC0x4-6T_border-top-right-radius: 3px;
  --mixin-VL77vC0x4-6T_font-family: "Inconsolata";
  --mixin-VL77vC0x4-6T_padding-bottom: 3px;
  --mixin-VL77vC0x4-6T_padding-left: 6px;
  --mixin-VL77vC0x4-6T_padding-right: 6px;
  --mixin-VL77vC0x4-6T_padding-top: 3px;
  --mixin-VL77vC0x4-6T_white-space: pre-wrap;
  --mixin-CPt-Wsd1Ey3m_display: flex;
  --mixin-CPt-Wsd1Ey3m_flex-direction: column;
  --mixin-CPt-Wsd1Ey3m_align-items: stretch;
  --mixin-CPt-Wsd1Ey3m_justify-content: flex-start;
  --mixin-CPt-Wsd1Ey3m_list-style-position: outside;
  --mixin-CPt-Wsd1Ey3m_padding-left: 40px;
  --mixin-CPt-Wsd1Ey3m_position: relative;
  --mixin-CPt-Wsd1Ey3m_list-style-type: disc;
  --mixin-CPt-Wsd1Ey3m_white-space: pre-wrap;
  --mixin-68GkwKNIkAge_display: flex;
  --mixin-68GkwKNIkAge_flex-direction: column;
  --mixin-68GkwKNIkAge_align-items: stretch;
  --mixin-68GkwKNIkAge_justify-content: flex-start;
  --mixin-68GkwKNIkAge_list-style-position: outside;
  --mixin-68GkwKNIkAge_padding-left: 40px;
  --mixin-68GkwKNIkAge_position: relative;
  --mixin-68GkwKNIkAge_list-style-type: decimal;
  --mixin-68GkwKNIkAge_white-space: pre-wrap;
  --mixin-UOssRy2gXUWM_color: #000000;
  --mixin-UOssRy2gXUWM_font-size: 20px;
  --mixin-UOssRy2gXUWM_font-weight: 600;
  --mixin-UOssRy2gXUWM_line-height: 1.5;
  --mixin-UOssRy2gXUWM_white-space: pre-wrap;
  --mixin-n3kn5F_ec0bH_color: #000000;
  --mixin-n3kn5F_ec0bH_font-size: 16px;
  --mixin-n3kn5F_ec0bH_font-weight: 600;
  --mixin-n3kn5F_ec0bH_line-height: 1.5;
  --mixin-n3kn5F_ec0bH_white-space: pre-wrap;
  --mixin-FOAAXu_swOYz_color: #3291ff;
  --mixin-FOAAXu_swOYz_white-space: pre-wrap;
  --mixin-c1ZtJeFhnHhm_white-space: pre-wrap;
  --mixin-neKx7DBgZyLB_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-QOGxRpaURXgN_font-family);
  font-size: var(--mixin-QOGxRpaURXgN_font-size);
  font-weight: var(--mixin-QOGxRpaURXgN_font-weight);
  font-style: var(--mixin-QOGxRpaURXgN_font-style);
  color: var(--mixin-QOGxRpaURXgN_color);
  text-align: var(--mixin-QOGxRpaURXgN_text-align);
  text-transform: var(--mixin-QOGxRpaURXgN_text-transform);
  line-height: var(--mixin-QOGxRpaURXgN_line-height);
  letter-spacing: var(--mixin-QOGxRpaURXgN_letter-spacing);
  white-space: var(--mixin-QOGxRpaURXgN_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-20Fl585pGyBh_color);
  font-weight: var(--mixin-20Fl585pGyBh_font-weight);
  font-size: var(--mixin-20Fl585pGyBh_font-size);
  line-height: var(--mixin-20Fl585pGyBh_line-height);
  letter-spacing: var(--mixin-20Fl585pGyBh_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-7ii4TxNF1vYI_color);
  font-size: var(--mixin-7ii4TxNF1vYI_font-size);
  font-weight: var(--mixin-7ii4TxNF1vYI_font-weight);
  letter-spacing: var(--mixin-7ii4TxNF1vYI_letter-spacing);
  line-height: var(--mixin-7ii4TxNF1vYI_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-FDerdT3GmEat_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-DdKHyjaM2mNK_color);
  font-size: var(--mixin-DdKHyjaM2mNK_font-size);
  font-weight: var(--mixin-DdKHyjaM2mNK_font-weight);
  line-height: var(--mixin-DdKHyjaM2mNK_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-w3BSpBEKoI9H_color);
  font-size: var(--mixin-w3BSpBEKoI9H_font-size);
  font-weight: var(--mixin-w3BSpBEKoI9H_font-weight);
  line-height: var(--mixin-w3BSpBEKoI9H_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-MEUtaGjjPF3D_font-family);
  border-radius: var(--mixin-MEUtaGjjPF3D_border-top-left-radius)
    var(--mixin-MEUtaGjjPF3D_border-top-right-radius)
    var(--mixin-MEUtaGjjPF3D_border-bottom-right-radius)
    var(--mixin-MEUtaGjjPF3D_border-bottom-left-radius);
  padding: var(--mixin-MEUtaGjjPF3D_padding-top)
    var(--mixin-MEUtaGjjPF3D_padding-right)
    var(--mixin-MEUtaGjjPF3D_padding-bottom)
    var(--mixin-MEUtaGjjPF3D_padding-left);
  border-top: var(--mixin-MEUtaGjjPF3D_border-top-width)
    var(--mixin-MEUtaGjjPF3D_border-top-style)
    var(--mixin-MEUtaGjjPF3D_border-top-color);
  border-right: var(--mixin-MEUtaGjjPF3D_border-right-width)
    var(--mixin-MEUtaGjjPF3D_border-right-style)
    var(--mixin-MEUtaGjjPF3D_border-right-color);
  border-bottom: var(--mixin-MEUtaGjjPF3D_border-bottom-width)
    var(--mixin-MEUtaGjjPF3D_border-bottom-style)
    var(--mixin-MEUtaGjjPF3D_border-bottom-color);
  border-left: var(--mixin-MEUtaGjjPF3D_border-left-width)
    var(--mixin-MEUtaGjjPF3D_border-left-style)
    var(--mixin-MEUtaGjjPF3D_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Ve5MofumnguI_color);
  padding-left: var(--mixin-Ve5MofumnguI_padding-left);
  border-left: var(--mixin-Ve5MofumnguI_border-left-width)
    var(--mixin-Ve5MofumnguI_border-left-style)
    var(--mixin-Ve5MofumnguI_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-VL77vC0x4-6T_font-family);
  border-radius: var(--mixin-VL77vC0x4-6T_border-top-left-radius)
    var(--mixin-VL77vC0x4-6T_border-top-right-radius)
    var(--mixin-VL77vC0x4-6T_border-bottom-right-radius)
    var(--mixin-VL77vC0x4-6T_border-bottom-left-radius);
  padding: var(--mixin-VL77vC0x4-6T_padding-top)
    var(--mixin-VL77vC0x4-6T_padding-right)
    var(--mixin-VL77vC0x4-6T_padding-bottom)
    var(--mixin-VL77vC0x4-6T_padding-left);
  border-top: var(--mixin-VL77vC0x4-6T_border-top-width)
    var(--mixin-VL77vC0x4-6T_border-top-style)
    var(--mixin-VL77vC0x4-6T_border-top-color);
  border-right: var(--mixin-VL77vC0x4-6T_border-right-width)
    var(--mixin-VL77vC0x4-6T_border-right-style)
    var(--mixin-VL77vC0x4-6T_border-right-color);
  border-bottom: var(--mixin-VL77vC0x4-6T_border-bottom-width)
    var(--mixin-VL77vC0x4-6T_border-bottom-style)
    var(--mixin-VL77vC0x4-6T_border-bottom-color);
  border-left: var(--mixin-VL77vC0x4-6T_border-left-width)
    var(--mixin-VL77vC0x4-6T_border-left-style)
    var(--mixin-VL77vC0x4-6T_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-CPt-Wsd1Ey3m_display);
  flex-direction: var(--mixin-CPt-Wsd1Ey3m_flex-direction);
  align-items: var(--mixin-CPt-Wsd1Ey3m_align-items);
  justify-content: var(--mixin-CPt-Wsd1Ey3m_justify-content);
  list-style-position: var(--mixin-CPt-Wsd1Ey3m_list-style-position);
  padding-left: var(--mixin-CPt-Wsd1Ey3m_padding-left);
  position: var(--mixin-CPt-Wsd1Ey3m_position);
  list-style-type: var(--mixin-CPt-Wsd1Ey3m_list-style-type);
  flex-column-gap: var(--mixin-CPt-Wsd1Ey3m_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-68GkwKNIkAge_display);
  flex-direction: var(--mixin-68GkwKNIkAge_flex-direction);
  align-items: var(--mixin-68GkwKNIkAge_align-items);
  justify-content: var(--mixin-68GkwKNIkAge_justify-content);
  list-style-position: var(--mixin-68GkwKNIkAge_list-style-position);
  padding-left: var(--mixin-68GkwKNIkAge_padding-left);
  position: var(--mixin-68GkwKNIkAge_position);
  list-style-type: var(--mixin-68GkwKNIkAge_list-style-type);
  flex-column-gap: var(--mixin-68GkwKNIkAge_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-UOssRy2gXUWM_color);
  font-size: var(--mixin-UOssRy2gXUWM_font-size);
  font-weight: var(--mixin-UOssRy2gXUWM_font-weight);
  line-height: var(--mixin-UOssRy2gXUWM_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-n3kn5F_ec0bH_color);
  font-size: var(--mixin-n3kn5F_ec0bH_font-size);
  font-weight: var(--mixin-n3kn5F_ec0bH_font-weight);
  line-height: var(--mixin-n3kn5F_ec0bH_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-FOAAXu_swOYz_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
