.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-ExXtYmh32M4K);
  font-family: var(--token-X_O6zfFkMxZh);
  font-size: var(--token-UbL2p75DX6mb);
  line-height: var(--token-Qh7QI7zrYZNM);
  width: 100%;
  min-width: 0;
  column-gap: var(--token-7sgBGndOd4ze);
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-AMuzw0jjwUyx);
  height: var(--token-AMuzw0jjwUyx);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-jESTLQMle5YA);
  border: 2px solid var(--token-yDIAPJLk_GSk);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-4_KBhGzHBxWk);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-4_KBhGzHBxWk);
  border-color: var(--token-4_KBhGzHBxWk);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-4_KBhGzHBxWk);
  border-color: var(--token-4_KBhGzHBxWk);
}
.svg__f1JjR {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-selected] .svg__f1JjR {
  display: block;
}
.svg__dKxJ6 {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
  display: none;
}
.ariaCheckbox[data-indeterminate] .svg__dKxJ6 {
  display: block;
}
