.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg___4GDyY {
  position: relative;
  height: 1em;
}
.svg__rMXx {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-bdOuhE4J9nqn);
  display: block;
  color: var(--token-ExXtYmh32M4K);
  font-family: var(--token-X_O6zfFkMxZh);
  font-size: var(--token-UbL2p75DX6mb);
  line-height: var(--token-Qh7QI7zrYZNM);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-lzbLUwe6BjdN);
}
.pcls_9bLOq86y6Ga7 {
  background: var(--token-R0Uq2O1B65dV);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.ariaHeading:global(.__wab_instance) {
  flex-shrink: 0;
  padding: var(--token-9pqKvO_y5mge);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-9pqKvO_y5mge);
  padding-right: var(--token-9pqKvO_y5mge);
}
.freeBox__oaO8W {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__oaO8W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-dQuiqDouf7Gm));
  height: calc(100% + var(--token-dQuiqDouf7Gm));
}
.freeBox__oaO8W > :global(.__wab_flex-container) > *,
.freeBox__oaO8W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oaO8W > :global(.__wab_flex-container) > picture > img,
.freeBox__oaO8W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-dQuiqDouf7Gm);
}
.text__jtJzG {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-9pqKvO_y5mge);
}
.freeBox__oNe5F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg___5KabF {
  position: relative;
  height: 1em;
}
.text__yn56B {
  padding-left: 0px;
}
.svg___6JlW {
  position: relative;
  height: 1em;
}
