.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__fVnc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  background: #f5f5f5;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__evUk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
}
.svg___8AjrW {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-s_XuzePAGmOh);
  flex-shrink: 0;
}
.freeBox__z5SsY {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__kus5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 900;
  color: var(--token-s_XuzePAGmOh);
}
.text__qdz2S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
}
.freeBox__e2Ntx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 13px;
}
.freeBox__vgQcc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.svg__qVz2G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__rv0VB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.freeBox__ry92P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__zu78Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 16rem;
  row-gap: 0px;
  flex-shrink: 0;
  min-height: 0;
  padding: 0.7rem 0.7rem 25px;
  border-left: 1.5px dashed #e5e5e5;
}
.freeBox__mHtax {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
}
.menu__l1I1D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__rmEGv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  min-width: 22px;
}
.menu__bxOPg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vRmo4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__jDoQa:global(.__wab_instance) {
  max-width: 100%;
}
.svg__fbuiC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__wT4Ir:global(.__wab_instance) {
  max-width: 100%;
}
.svg___6BjWk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__i1Gbd:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wid3X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__hKovo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  opacity: 0.9;
  color: #000000;
  column-gap: 8px;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 14px 10px 8px;
}
.root .link:hover {
  color: #000000;
}
.svg__iLeQo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text___7EYhw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 500;
  min-width: 0;
}
.freeBox___97Hyf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 16rem;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 16rem;
  row-gap: 10px;
  flex-shrink: 0;
  min-height: 0;
  padding: 0.7rem 0.7rem 25px;
  border-left: 1.5px dashed #e5e5e5;
}
.freeBoxshowAppSidebar___97HyfCdiP {
  display: flex;
}
.freeBox__qqFCz {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  background: #f5f5f5;
  min-width: 0;
  border-radius: 0px;
  padding: 10px 12px;
}
.paziresh24Avatar:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__bndZ {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.text__wq5Hm {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  min-width: 0;
}
.text__dC7F {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  min-width: 0;
}
.freeBox__ijxMc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
}
.menu__uabSf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__uDwo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  min-width: 22px;
}
.menu___9Vn7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__uhVh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox___0FF9K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.menu__ahU72:global(.__wab_instance) {
  max-width: 100%;
}
.svg__oZfcr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox___6LZuF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 47px;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  min-width: 0;
  padding: 0px 10px 0px 20px;
  border-style: solid;
}
.menu__gn3Qh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___85Ok {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__tHz5T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zz83C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__l3Q0I:global(.__wab_instance) {
  max-width: 100%;
}
.svg__xvbeD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__xVtVp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__upplA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.menu__z0FV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kGiXc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
}
.freeBox__ncfFv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
}
.freeBox___3B2E0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
