.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  background: none;
  opacity: 0.9;
  cursor: pointer;
  column-gap: 8px;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 14px 10px 8px;
}
.rootactive {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
  column-gap: 8px;
  row-gap: 0px;
  min-width: 0;
  border-radius: 10px;
  padding: 10px 14px 10px 8px;
}
.rootcompact {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px 12px 8px 8px;
}
.rootdisabled {
  opacity: 0.3;
  cursor: default;
}
.rootactive_compact {
  background: #efefef;
}
.svg__a4Zd6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  min-width: 18px;
  flex-shrink: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.text__rXnwv {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}
.textcompact__rXnwVvMEwR {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  min-width: 0;
}
.text__huio {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  color: #000000bd;
}
.textcompact__huioVMEwR {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  min-width: 0;
}
