.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 2rem;
}
.root > * {
  grid-column: 4;
}
.freeBox__kfWCe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link___7Obi4 {
  position: relative;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
  height: auto;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  color: #000000;
  column-gap: 15px;
}
.root .link___7Obi4:hover {
  color: #000000;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #000000;
  flex-shrink: 0;
}
.text__nbMOr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 800;
  font-size: 18px;
  min-width: 0;
}
.freeBox__uiToj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 26px;
}
.link___8NvHh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #00000099;
  min-width: 0;
}
.link__ssFx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #00000099;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  height: 35px;
}
.svg__o6Wkn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__r3EsJ {
  font-size: 14px;
}
.svg__pOdom {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__iUiJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 60px;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
.text__jdWz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
}
.text__mkaeY {
  position: relative;
  width: 472px;
  height: auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  padding-top: 0px;
}
.freeBox__dIrj {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
.freeBox__kdCbg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  box-shadow: none;
  column-gap: 15px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.img__oLhUj {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img__oLhUj > picture > img {
  object-fit: cover;
}
.freeBox___0B6Zx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__vgBw {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text__p4KNh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
  min-width: 0;
}
.link__chDa5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  box-shadow: none;
  color: var(--token-kzT08fQBAHgz);
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.root .link__chDa5:hover {
  color: var(--token-kzT08fQBAHgz);
}
.text__huFox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text__cRMtH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
  min-width: 0;
}
.freeBox__bwd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  box-shadow: none;
  column-gap: 15px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.img___5FTeV {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img___5FTeV > picture > img {
  object-fit: cover;
}
.freeBox__gxElR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__mbFvv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text__iaquW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
  min-width: 0;
}
.freeBox__s3OIy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  box-shadow: none;
  column-gap: 15px;
  min-width: 0;
  border-radius: 8px;
  padding: 15px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.img___5FVrU {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img___5FVrU > picture > img {
  object-fit: cover;
}
.freeBox__aYhku {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__r3Aek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  min-width: 0;
}
.text__y677M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
  min-width: 0;
}
