.root {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  padding-right: 0px;
  position: relative;
  min-width: 0;
}
.span___0CQE {
  color: #0000003d;
  font-weight: 400;
}
