.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__vJmmm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.reveal__wRpu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: #ffffff;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  min-width: 0;
}
.freeBox__f4Yb0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  min-width: 0;
  border-bottom: 1px solid #e8eff2;
}
.freeBox__jknp4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
}
.text___9Cty0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  font-weight: 900;
}
.freeBox___4HgfM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1.5px;
  height: 1.5rem;
  max-width: 100%;
  background: #efefef;
  min-width: 2.5px;
  flex-shrink: 0;
}
.text__yh79W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}
.freeBox__ef8HT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 13px;
}
.freeBox__fr3Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 6px;
  min-width: 0;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text__sAGkN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
}
.reveal__wwkFm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___0DBur {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding-bottom: 100px;
  padding-top: 90px;
  min-width: 0;
  min-height: 0;
}
.freeBox__vfQA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__vhsCg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: auto;
  row-gap: 16px;
  flex-shrink: 0;
  padding: 20px;
}
.freeBox__tJlry {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 2px;
  min-width: 0;
}
.text__euva1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.text__jz7NY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-bottom: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  margin-right: 2px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__nf2Ut {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 1.7;
  font-size: 15px;
  opacity: 0.8;
  font-weight: 500;
  min-width: 0;
}
.text__mZh2F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  line-height: 1.7;
  font-size: 14px;
  opacity: 0.7;
  font-weight: 400;
  min-width: 0;
}
.freeBox__ds9Rm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: auto;
  row-gap: 16px;
  flex-shrink: 0;
  padding: 20px;
}
.freeBox___3YW7I {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 5px;
  min-width: 0;
}
.text__ogw5V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  min-width: 0;
}
.appType__wh42X:global(.__wab_instance) {
  max-width: 100%;
}
.appType__awVgb:global(.__wab_instance) {
  max-width: 100%;
}
.appType__nmdhg:global(.__wab_instance) {
  max-width: 100%;
  opacity: 0.5;
}
.paziresh24Button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__matHu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___2A1Uw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
