.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.authProvider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.layout:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cOmFt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  row-gap: 10px;
  min-width: 0;
  padding: 38px;
}
.text__pCff8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.9;
  margin-bottom: 12px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__c5ItS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 12px;
  min-width: 0;
  padding: 8px;
}
.freeBox__pff0E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  padding: 8px;
}
.stepsStep__yP1Rv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.stepsLine___0ZApv:global(.__wab_instance) {
  position: relative;
  height: 12rem;
  flex-shrink: 0;
}
.stepsStep__dwIci:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.stepsLine___0SrwT:global(.__wab_instance) {
  position: relative;
  height: 76px;
  flex-shrink: 0;
}
.stepsStep__xz5Na:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.freeBox___184TI {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
.freeBox__avrln {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 20px;
  min-width: 0;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid #dfdfdfcc;
}
.freeBox__bXa7O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
}
.freeBox___0Ysl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__nBiij {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.svg__h3LP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}
.text__mFzUn {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__oxuyW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.freeBox__k08Te {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__q6Ci {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 330px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  column-gap: var(--token-KVcr9NiMwFLr);
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-ezMpHdKVwSWQ);
}
.img__pPxaM {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 60px;
  border-width: 1px;
  border-style: solid;
}
.img__pPxaM > picture > img {
  object-fit: cover;
}
.freeBox__on6Oo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.text__loVwu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: var(--token-KUiXUfHPkqkm);
}
.text___23Vfl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-P2saABvfDCPH);
  color: var(--token-I_yaFrj8gHQz);
}
.freeBox__teZx4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  column-gap: 10px;
  min-width: 0;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: auto;
}
.paziresh24Button__lXbVi:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 2rem;
}
.svg__vwWk {
  position: relative;
  height: 1em;
  width: auto;
  object-fit: cover;
  color: #ffffff;
}
.svg__d6XJu {
  position: relative;
  height: 1em;
  width: auto;
  object-fit: cover;
  color: var(--token-s_XuzePAGmOh);
}
.text__u7PPm {
  font-size: var(--token-P2saABvfDCPH);
}
.svg___54YJk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__teJ4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__om4Pf {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__tbsBy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 10px;
}
.freeBox__obKjd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__l09Dv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.text__xdBnm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
  min-width: 0;
}
.displayNameFa2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.freeBox___08K3C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__jHbGs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.text__nd3Zn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
  min-width: 0;
}
.description2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.freeBox__k3We {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__ope35 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.text__coEY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 13px;
  min-width: 0;
}
.embedSrc2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.paziresh24Button__tcq8C:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iseGw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__i8Io {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__dqxqU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 20px;
  min-width: 0;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid #dfdfdfcc;
}
.freeBox__a1AJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 60px;
  min-width: 0;
}
.freeBox__hbob {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__pR0J {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.svg__l5YtY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}
.text__zgXJe {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__d5Gh1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: auto;
}
.paziresh24Button__yjGut:global(.__wab_instance) {
  max-width: 100%;
  height: 2rem;
}
.svg__d2U5H {
  position: relative;
  height: 1em;
  width: auto;
  object-fit: cover;
  color: #ffffff;
}
.svg__rgBri {
  position: relative;
  height: 1em;
  width: auto;
  object-fit: cover;
  color: var(--token-s_XuzePAGmOh);
}
.text__vB6Zl {
  font-size: var(--token-P2saABvfDCPH);
}
.svg__nYssa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__epTm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__eLqRf {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox___7Mjl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 10px;
}
.freeBox__mtT7V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__w8YvC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.landingTitle:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.freeBox___52VmW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__m8Eqg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.landingDescription:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--token-4iQ-8GWBqX6X);
}
.tiptapBold___2Ek6I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapItalic__z1EKc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapUnderline__r849Z:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapStrike__pv6Lu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapBoldToolbarOption__c4ZLl:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img__gUcPr {
  object-fit: cover;
}
.img__gUcPr > picture > img {
  object-fit: cover;
}
.tiptapItalicToolbarOption__fdRvZ:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img__hGzvQ {
  object-fit: cover;
  width: auto;
}
.img__hGzvQ > picture > img {
  object-fit: cover;
}
.tiptapUnderlineToolbarOption__ye6HN:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img__yFz0P {
  object-fit: cover;
}
.img__yFz0P > picture > img {
  object-fit: cover;
}
.tiptapStrikeToolbarOption___42Gsr:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img___19P3N {
  object-fit: cover;
}
.img___19P3N > picture > img {
  object-fit: cover;
}
.freeBox___5UaTp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
}
.text__cDn9R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.text__efAl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
  min-width: 0;
}
.landingFeatures:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.freeBox__ndLoJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__npx6M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.landingButtonText:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.paziresh24Button___3C0Ow:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__rMa2X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wBgiw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hw8J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
}
.freeBox__fDccl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-M8SHDPuEHkX2);
}
.text__dAdRz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KUiXUfHPkqkm);
  font-weight: 500;
  min-width: 0;
}
.freeBox__sctFy {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-3WxvfyIdJppy);
  min-width: 0;
}
.dialog4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: auto;
}
.paziresh24Button___1M496:global(.__wab_instance) {
  max-width: 100%;
  height: 2rem;
}
.svg__lHbr {
  position: relative;
  height: 1em;
  width: auto;
  object-fit: cover;
  color: var(--token-s_XuzePAGmOh);
}
.text__xgGCe {
  font-size: var(--token-P2saABvfDCPH);
}
.svg__aj5OC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ku2Rn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__bbtwq {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__tf7Hj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 10px;
}
.freeBox__wnzv3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__ahZGx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.landingTitle2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.freeBox__lPaHz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text___82X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.landingDescription2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid var(--token-4iQ-8GWBqX6X);
}
.tiptapBold__xOt9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapItalic__iXdPp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapUnderline__r2SAj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapStrike___4NA5X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tiptapBoldToolbarOption__d6Xc:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img__x0Mva {
  object-fit: cover;
}
.img__x0Mva > picture > img {
  object-fit: cover;
}
.tiptapItalicToolbarOption__bi8Uc:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img__x6Hc {
  object-fit: cover;
  width: auto;
}
.img__x6Hc > picture > img {
  object-fit: cover;
}
.tiptapUnderlineToolbarOption__wHjEn:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img___7JhTj {
  object-fit: cover;
}
.img___7JhTj > picture > img {
  object-fit: cover;
}
.tiptapStrikeToolbarOption__sDNxC:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  padding: 5px;
}
.img___4Szg5 {
  object-fit: cover;
}
.img___4Szg5 > picture > img {
  object-fit: cover;
}
.freeBox__rXbni {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  min-width: 0;
  min-height: 0;
}
.text__cxWzZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.text__q1ZsT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 13px;
  min-width: 0;
}
.landingFeatures2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.freeBox__vcHwU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.text__dKdn5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  min-width: 0;
}
.landingButtonText2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-top: 12px;
  min-width: 0;
}
.paziresh24Button__gWz5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ujZZi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__llNry {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.paziresh24Button__draNg:global(.__wab_instance) {
  max-width: 100%;
  height: 2rem;
}
.svg__olQpX {
  position: relative;
  height: 1em;
  width: auto;
  object-fit: cover;
  color: var(--token-s_XuzePAGmOh);
}
.text__ztRjl {
  font-size: var(--token-P2saABvfDCPH);
}
.svg___0BHi3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ro906 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 20px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid #dfdfdfcc;
}
.freeBox__qiZ1O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 60px;
  min-width: 0;
}
.freeBox__gWuc2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox___2Vm6V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 5px;
  column-gap: 5px;
  min-width: 0;
}
.svg__pTao {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
  width: 17px;
  height: 17px;
  flex-shrink: 0;
}
.text__oTp88 {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  text-align: right;
  margin-top: 2px;
}
.text__yolYu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
  min-width: 0;
}
.paziresh24Button__vsGE:global(.__wab_instance) {
  max-width: 100%;
}
.svg__v2Fwt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: #000000;
}
.svg__k2KVa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.userPageRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.landingPageRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__od2GM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 28px;
}
.svg__dDapO {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
