@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-YHrqBMR3etos_font-size: 16px;
  --mixin-YHrqBMR3etos_font-weight: 400;
  --mixin-YHrqBMR3etos_font-style: normal;
  --mixin-YHrqBMR3etos_color: #535353;
  --mixin-YHrqBMR3etos_text-transform: none;
  --mixin-YHrqBMR3etos_line-height: 1.5;
  --mixin-YHrqBMR3etos_letter-spacing: normal;
  --mixin-YHrqBMR3etos_white-space: pre-wrap;
  --mixin-YHrqBMR3etos_user-select: text;
  --mixin-YHrqBMR3etos_text-decoration-line: none;
  --mixin-YHrqBMR3etos_text-overflow: clip;
  --mixin-dJ47k4GPmcku_color: #000000;
  --mixin-dJ47k4GPmcku_font-weight: 700;
  --mixin-dJ47k4GPmcku_font-size: 64px;
  --mixin-dJ47k4GPmcku_line-height: 1;
  --mixin-dJ47k4GPmcku_letter-spacing: -1px;
  --mixin-dJ47k4GPmcku_white-space: pre-wrap;
  --mixin-S5VRGHOu9je8_color: #000000;
  --mixin-S5VRGHOu9je8_font-size: 48px;
  --mixin-S5VRGHOu9je8_font-weight: 700;
  --mixin-S5VRGHOu9je8_letter-spacing: -0.5px;
  --mixin-S5VRGHOu9je8_line-height: 1.1;
  --mixin-S5VRGHOu9je8_white-space: pre-wrap;
  --mixin-wJ86d9pNJcru_color: #0070f3;
  --mixin-wJ86d9pNJcru_white-space: pre-wrap;
  --mixin-_p-A4BHabBtL_color: #000000;
  --mixin-_p-A4BHabBtL_font-size: 32px;
  --mixin-_p-A4BHabBtL_font-weight: 600;
  --mixin-_p-A4BHabBtL_line-height: 1.2;
  --mixin-_p-A4BHabBtL_white-space: pre-wrap;
  --mixin-cIqOqCvHch2c_color: #000000;
  --mixin-cIqOqCvHch2c_font-size: 24px;
  --mixin-cIqOqCvHch2c_font-weight: 600;
  --mixin-cIqOqCvHch2c_line-height: 1.3;
  --mixin-cIqOqCvHch2c_white-space: pre-wrap;
  --mixin-IwhZ2-6XQwF1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-IwhZ2-6XQwF1_border-bottom-color: #dddddd;
  --mixin-IwhZ2-6XQwF1_border-bottom-style: solid;
  --mixin-IwhZ2-6XQwF1_border-bottom-width: 1px;
  --mixin-IwhZ2-6XQwF1_border-left-color: #dddddd;
  --mixin-IwhZ2-6XQwF1_border-left-style: solid;
  --mixin-IwhZ2-6XQwF1_border-left-width: 1px;
  --mixin-IwhZ2-6XQwF1_border-right-color: #dddddd;
  --mixin-IwhZ2-6XQwF1_border-right-style: solid;
  --mixin-IwhZ2-6XQwF1_border-right-width: 1px;
  --mixin-IwhZ2-6XQwF1_border-top-color: #dddddd;
  --mixin-IwhZ2-6XQwF1_border-top-style: solid;
  --mixin-IwhZ2-6XQwF1_border-top-width: 1px;
  --mixin-IwhZ2-6XQwF1_border-bottom-left-radius: 3px;
  --mixin-IwhZ2-6XQwF1_border-bottom-right-radius: 3px;
  --mixin-IwhZ2-6XQwF1_border-top-left-radius: 3px;
  --mixin-IwhZ2-6XQwF1_border-top-right-radius: 3px;
  --mixin-IwhZ2-6XQwF1_font-family: "Inconsolata";
  --mixin-IwhZ2-6XQwF1_padding-bottom: 1px;
  --mixin-IwhZ2-6XQwF1_padding-left: 4px;
  --mixin-IwhZ2-6XQwF1_padding-right: 4px;
  --mixin-IwhZ2-6XQwF1_padding-top: 1px;
  --mixin-IwhZ2-6XQwF1_white-space: pre-wrap;
  --mixin-FO-N1-txsz4n_border-left-color: #dddddd;
  --mixin-FO-N1-txsz4n_border-left-style: solid;
  --mixin-FO-N1-txsz4n_border-left-width: 3px;
  --mixin-FO-N1-txsz4n_color: #888888;
  --mixin-FO-N1-txsz4n_padding-left: 10px;
  --mixin-FO-N1-txsz4n_white-space: pre-wrap;
  --mixin-kb4IfqdIjHCJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kb4IfqdIjHCJ_border-bottom-color: #dddddd;
  --mixin-kb4IfqdIjHCJ_border-bottom-style: solid;
  --mixin-kb4IfqdIjHCJ_border-bottom-width: 1px;
  --mixin-kb4IfqdIjHCJ_border-left-color: #dddddd;
  --mixin-kb4IfqdIjHCJ_border-left-style: solid;
  --mixin-kb4IfqdIjHCJ_border-left-width: 1px;
  --mixin-kb4IfqdIjHCJ_border-right-color: #dddddd;
  --mixin-kb4IfqdIjHCJ_border-right-style: solid;
  --mixin-kb4IfqdIjHCJ_border-right-width: 1px;
  --mixin-kb4IfqdIjHCJ_border-top-color: #dddddd;
  --mixin-kb4IfqdIjHCJ_border-top-style: solid;
  --mixin-kb4IfqdIjHCJ_border-top-width: 1px;
  --mixin-kb4IfqdIjHCJ_border-bottom-left-radius: 3px;
  --mixin-kb4IfqdIjHCJ_border-bottom-right-radius: 3px;
  --mixin-kb4IfqdIjHCJ_border-top-left-radius: 3px;
  --mixin-kb4IfqdIjHCJ_border-top-right-radius: 3px;
  --mixin-kb4IfqdIjHCJ_font-family: "Inconsolata";
  --mixin-kb4IfqdIjHCJ_padding-bottom: 3px;
  --mixin-kb4IfqdIjHCJ_padding-left: 6px;
  --mixin-kb4IfqdIjHCJ_padding-right: 6px;
  --mixin-kb4IfqdIjHCJ_padding-top: 3px;
  --mixin-kb4IfqdIjHCJ_white-space: pre-wrap;
  --mixin-YPRttR3XDj1N_display: flex;
  --mixin-YPRttR3XDj1N_flex-direction: column;
  --mixin-YPRttR3XDj1N_align-items: stretch;
  --mixin-YPRttR3XDj1N_justify-content: flex-start;
  --mixin-YPRttR3XDj1N_list-style-position: outside;
  --mixin-YPRttR3XDj1N_padding-left: 40px;
  --mixin-YPRttR3XDj1N_position: relative;
  --mixin-YPRttR3XDj1N_list-style-type: disc;
  --mixin-YPRttR3XDj1N_white-space: pre-wrap;
  --mixin-SxTmPjpvpQr7_display: flex;
  --mixin-SxTmPjpvpQr7_flex-direction: column;
  --mixin-SxTmPjpvpQr7_align-items: stretch;
  --mixin-SxTmPjpvpQr7_justify-content: flex-start;
  --mixin-SxTmPjpvpQr7_list-style-position: outside;
  --mixin-SxTmPjpvpQr7_padding-left: 40px;
  --mixin-SxTmPjpvpQr7_position: relative;
  --mixin-SxTmPjpvpQr7_list-style-type: decimal;
  --mixin-SxTmPjpvpQr7_white-space: pre-wrap;
  --mixin-h79qrW4GXmUu_color: #000000;
  --mixin-h79qrW4GXmUu_font-size: 20px;
  --mixin-h79qrW4GXmUu_font-weight: 600;
  --mixin-h79qrW4GXmUu_line-height: 1.5;
  --mixin-h79qrW4GXmUu_white-space: pre-wrap;
  --mixin-HJviOSo708KJ_color: #000000;
  --mixin-HJviOSo708KJ_font-size: 16px;
  --mixin-HJviOSo708KJ_font-weight: 600;
  --mixin-HJviOSo708KJ_line-height: 1.5;
  --mixin-HJviOSo708KJ_white-space: pre-wrap;
  --mixin-J1W4s0w8cT6P_color: #3291ff;
  --mixin-J1W4s0w8cT6P_white-space: pre-wrap;
  --mixin-HJOcBP9_qzzB_white-space: pre-wrap;
  --mixin-mC2j0AkgeDIV_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-size: var(--mixin-YHrqBMR3etos_font-size);
  font-weight: var(--mixin-YHrqBMR3etos_font-weight);
  font-style: var(--mixin-YHrqBMR3etos_font-style);
  color: var(--mixin-YHrqBMR3etos_color);
  text-transform: var(--mixin-YHrqBMR3etos_text-transform);
  line-height: var(--mixin-YHrqBMR3etos_line-height);
  letter-spacing: var(--mixin-YHrqBMR3etos_letter-spacing);
  white-space: var(--mixin-YHrqBMR3etos_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-dJ47k4GPmcku_color);
  font-weight: var(--mixin-dJ47k4GPmcku_font-weight);
  font-size: var(--mixin-dJ47k4GPmcku_font-size);
  line-height: var(--mixin-dJ47k4GPmcku_line-height);
  letter-spacing: var(--mixin-dJ47k4GPmcku_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-S5VRGHOu9je8_color);
  font-size: var(--mixin-S5VRGHOu9je8_font-size);
  font-weight: var(--mixin-S5VRGHOu9je8_font-weight);
  letter-spacing: var(--mixin-S5VRGHOu9je8_letter-spacing);
  line-height: var(--mixin-S5VRGHOu9je8_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-wJ86d9pNJcru_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-_p-A4BHabBtL_color);
  font-size: var(--mixin-_p-A4BHabBtL_font-size);
  font-weight: var(--mixin-_p-A4BHabBtL_font-weight);
  line-height: var(--mixin-_p-A4BHabBtL_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-cIqOqCvHch2c_color);
  font-size: var(--mixin-cIqOqCvHch2c_font-size);
  font-weight: var(--mixin-cIqOqCvHch2c_font-weight);
  line-height: var(--mixin-cIqOqCvHch2c_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-IwhZ2-6XQwF1_font-family);
  border-radius: var(--mixin-IwhZ2-6XQwF1_border-top-left-radius)
    var(--mixin-IwhZ2-6XQwF1_border-top-right-radius)
    var(--mixin-IwhZ2-6XQwF1_border-bottom-right-radius)
    var(--mixin-IwhZ2-6XQwF1_border-bottom-left-radius);
  padding: var(--mixin-IwhZ2-6XQwF1_padding-top)
    var(--mixin-IwhZ2-6XQwF1_padding-right)
    var(--mixin-IwhZ2-6XQwF1_padding-bottom)
    var(--mixin-IwhZ2-6XQwF1_padding-left);
  border-top: var(--mixin-IwhZ2-6XQwF1_border-top-width)
    var(--mixin-IwhZ2-6XQwF1_border-top-style)
    var(--mixin-IwhZ2-6XQwF1_border-top-color);
  border-right: var(--mixin-IwhZ2-6XQwF1_border-right-width)
    var(--mixin-IwhZ2-6XQwF1_border-right-style)
    var(--mixin-IwhZ2-6XQwF1_border-right-color);
  border-bottom: var(--mixin-IwhZ2-6XQwF1_border-bottom-width)
    var(--mixin-IwhZ2-6XQwF1_border-bottom-style)
    var(--mixin-IwhZ2-6XQwF1_border-bottom-color);
  border-left: var(--mixin-IwhZ2-6XQwF1_border-left-width)
    var(--mixin-IwhZ2-6XQwF1_border-left-style)
    var(--mixin-IwhZ2-6XQwF1_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-FO-N1-txsz4n_color);
  padding-left: var(--mixin-FO-N1-txsz4n_padding-left);
  border-left: var(--mixin-FO-N1-txsz4n_border-left-width)
    var(--mixin-FO-N1-txsz4n_border-left-style)
    var(--mixin-FO-N1-txsz4n_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kb4IfqdIjHCJ_font-family);
  border-radius: var(--mixin-kb4IfqdIjHCJ_border-top-left-radius)
    var(--mixin-kb4IfqdIjHCJ_border-top-right-radius)
    var(--mixin-kb4IfqdIjHCJ_border-bottom-right-radius)
    var(--mixin-kb4IfqdIjHCJ_border-bottom-left-radius);
  padding: var(--mixin-kb4IfqdIjHCJ_padding-top)
    var(--mixin-kb4IfqdIjHCJ_padding-right)
    var(--mixin-kb4IfqdIjHCJ_padding-bottom)
    var(--mixin-kb4IfqdIjHCJ_padding-left);
  border-top: var(--mixin-kb4IfqdIjHCJ_border-top-width)
    var(--mixin-kb4IfqdIjHCJ_border-top-style)
    var(--mixin-kb4IfqdIjHCJ_border-top-color);
  border-right: var(--mixin-kb4IfqdIjHCJ_border-right-width)
    var(--mixin-kb4IfqdIjHCJ_border-right-style)
    var(--mixin-kb4IfqdIjHCJ_border-right-color);
  border-bottom: var(--mixin-kb4IfqdIjHCJ_border-bottom-width)
    var(--mixin-kb4IfqdIjHCJ_border-bottom-style)
    var(--mixin-kb4IfqdIjHCJ_border-bottom-color);
  border-left: var(--mixin-kb4IfqdIjHCJ_border-left-width)
    var(--mixin-kb4IfqdIjHCJ_border-left-style)
    var(--mixin-kb4IfqdIjHCJ_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YPRttR3XDj1N_display);
  flex-direction: var(--mixin-YPRttR3XDj1N_flex-direction);
  align-items: var(--mixin-YPRttR3XDj1N_align-items);
  justify-content: var(--mixin-YPRttR3XDj1N_justify-content);
  list-style-position: var(--mixin-YPRttR3XDj1N_list-style-position);
  padding-left: var(--mixin-YPRttR3XDj1N_padding-left);
  position: var(--mixin-YPRttR3XDj1N_position);
  list-style-type: var(--mixin-YPRttR3XDj1N_list-style-type);
  column-gap: var(--mixin-YPRttR3XDj1N_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SxTmPjpvpQr7_display);
  flex-direction: var(--mixin-SxTmPjpvpQr7_flex-direction);
  align-items: var(--mixin-SxTmPjpvpQr7_align-items);
  justify-content: var(--mixin-SxTmPjpvpQr7_justify-content);
  list-style-position: var(--mixin-SxTmPjpvpQr7_list-style-position);
  padding-left: var(--mixin-SxTmPjpvpQr7_padding-left);
  position: var(--mixin-SxTmPjpvpQr7_position);
  list-style-type: var(--mixin-SxTmPjpvpQr7_list-style-type);
  column-gap: var(--mixin-SxTmPjpvpQr7_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-h79qrW4GXmUu_color);
  font-size: var(--mixin-h79qrW4GXmUu_font-size);
  font-weight: var(--mixin-h79qrW4GXmUu_font-weight);
  line-height: var(--mixin-h79qrW4GXmUu_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-HJviOSo708KJ_color);
  font-size: var(--mixin-HJviOSo708KJ_font-size);
  font-weight: var(--mixin-HJviOSo708KJ_font-weight);
  line-height: var(--mixin-HJviOSo708KJ_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-J1W4s0w8cT6P_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
